{% from "../../utils/macros.html" import headerCard %}

{% set checkmarkPath = "../../images/module-icons/checkmark-icon-light.png" %}
{% set checkmarkFsUrl = "https://26192282.fs1.hubspotusercontent-eu1.net/hubfs/26192282/module-icons/breadcrumbs-chevron.png" %}
{% set checkmarkUrl = get_asset_url(checkmarkPath) != "" get_asset_url(checkmarkPath) : checkmarkFsUrl %}

{% require_css %}
  <style>
    {% scope_css %}

      {# Add checkmarks to features #}

      .header-card__feature::before {
        background: url("{{ checkmarkUrl }}") no-repeat;
        content: "";
        display: block;
        height: 14px;
        margin-right: 6px;
        width: 14px;
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="product-cards">
  <div class="product-cards__header">
    <h2>{{ module.section_title }}</h2>
    <p>{{ module.section_description }}</p>
  </div>

  <div class="product-cards__cards">
    {% for card in module.cards %}

    {% set size = "large" if card.use_large is truthy else "small" %}
    {% set sectionCards = card.large if card.use_large is truthy else card.small %}

    <ul class="menu__submenu--level-3 menu__submenu--products submenu-{{ size }}">
      <li class="menu__wrapper--level-3 card-menu">
        {% for c in sectionCards %}
        {% if size == "small" %}
          {% set desc = c.description|striptags|truncate(100, False, "...") %}
          {% set features = null %}
        {% elif size == "large" %}
          {% set desc = c.description|striptags|truncate(140, False, "...") %}
          {% set features = c.features %}
        {% endif %}
        {{ headerCard(c.title, size, c.link.url.href, desc, features, c.icon) }}
        {% endfor %}
      </li>
    </ul>

    {% endfor %}
  </div>
</section>
