.course-details {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
}

.course-details__col-1,
.course-details__col-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.date-hidden {
  display: none;
}