{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Featured image #}

      {# {% if module.featured_image and module.styles.featured_image.corner.radius >= 0 %}
        .blog-index__post-image {
          border-radius: {{ module.styles.featured_image.corner.radius ~ "px" }};
        }
      {% endif %} #}

      {# Tags #}

      {% if module.tags %}
        .blog-index__post-tag {
          {% if module.styles.tags.text.font.color %}
            color: {{ module.styles.tags.text.font.color }};
          {% endif %}
          {% if module.styles.tags.text.font.size %}
            font-size: {{ module.styles.tags.text.font.size ~ module.styles.tags.text.font.size_unit }};
          {% endif %}
          {% if module.styles.tags.text.font.style %}
            {{ module.styles.tags.text.font.style }}
          {% endif %}
        }
      {% endif %}

      {# Title #}

      {% if module.title %}
        .blog-index__post-title,
        .blog-index__post-title-link {
          {% if module.styles.title.text.font.color %}
            color: {{ module.styles.title.text.font.color }};
          {% endif %}
          {% if module.styles.title.text.font.size %}
            font-size: {{ module.styles.title.text.font.size ~ module.styles.title.text.font.size_unit }};
          {% endif %}
          {% if module.styles.title.text.font.style %}
            {{ module.styles.title.text.font.style }}
          {% endif %}
        }
      {% endif %}

      {# Author #}

      {% if module.author %}

        {% if module.styles.author.image.corner.radius >= 0 %}
          .blog-index__post-author-image {
            border-radius: {{ module.styles.author.image.corner.radius ~ "px" }};
          }
        {% endif %}

        .blog-index__post-author-name {
          {% if module.styles.author.text.font.color %}
            color: {{ module.styles.author.text.font.color }};
          {% endif %}
          {% if module.styles.author.text.font.size %}
            font-size: {{ module.styles.author.text.font.size ~ module.styles.author.text.font.size_unit }};
          {% endif %}
          {% if module.styles.author.text.font.style %}
            {{ module.styles.author.text.font.style }}
          {% endif %}
        }

      {% endif %}

      {# Date #}

      {% if module.publish_date %}
        .blog-index__post-timestamp {
          {% if module.styles.publish_date.text.font.color %}
            color: {{ module.styles.publish_date.text.font.color }};
          {% endif %}
          {% if module.styles.publish_date.text.font.size %}
            font-size: {{ module.styles.publish_date.text.font.size ~ module.styles.publish_date.text.font.size_unit }};
          {% endif %}
          {% if module.styles.publish_date.text.font.style %}
            {{ module.styles.publish_date.text.font.style }}
          {% endif %}
        }
      {% endif %}

      {# Description #}

      {% if module.description %}
        .blog-index__post-summary,
        .blog-index__post-summary * {
          {{ module.styles.description.text.font.css }}
        }
      {% endif %}

      {# Button #}

      {% if module.button %}

        {# Button wrapper #}

        {% if module.styles.button.alignment.alignment %}
          .blog-index__post-button-wrapper {
            text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
          }
        {% endif %}

        {# Button #}

        .blog-index__post-button {
          {% if module.styles.button.background.color.color %}
            background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
          {% endif %}
          {{ module.styles.button.border.border.css }}
          {% if module.styles.button.corner.radius >= 0 %}
            border-radius: {{ module.styles.button.corner.radius ~ "px" }};
          {% endif %}
          {{ module.styles.button.text.font.css }}
          {{ module.styles.button.spacing.spacing.css }}
        }

      {% endif %}

      {# Arrow icon for link to blog #}
      {% if module.add_link_to_blog == true %}
        .blog-index__link-all-link:after {
          background: url("{{ get_asset_url("../../images/module-icons/arrow-right-teal.png") }}") no-repeat;
          content: '';
          display: block;
          height: 1rem;
          margin: -2px 0 0 10px;
          width: 1rem;
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Set layout style #}

{% if module.layout_style == "card" %}
  {% set list_type = "small" %}
{% elif module.layout_style == "list" %}
  {% set list_type = "large" %}
{% elif module.layout_style == "combo" %}
  {% set list_type = "combo" %}
{% endif %}

{# Set results count #}

{% if module.layout_style == "card" %}
  {% set resultsCount = 4 %}
{% elif module.layout_style == "list" or module.layout_style == "combo" %}
  {% set resultsCount = 3 %}
{% endif %}

{# Show all results if toggled on #}

{% if module.show_all == true %}
  {% set resultsCount = 50 %}
{% endif %}

{# Blog author listing header #}

{% if blog_author %}
  <h2 class="blog-author-heading">
    {{ module.blog_author_listing.subheading }}
    {{ blog_author.display_name }}:
  </h2>
{% endif %}

{# Blog tag listing header #}

{% if request.path is not string_containing "/tag/" or request.path|split('/')|last == module.blog_tag_listing.filters|first %}
<h2 class="blog-tag-heading">
  {% set firstResult = contents|first %}
    {% if module.add_custom_header == true and module.custom_header != "" %}
      {{ module.custom_header }}
    {% elif module.add_custom_header == false and firstResult.tag_list|length > 0 %}
      {{ module.blog_tag_listing.subheading }}
    {% else %}
      {{ page_meta.html_title|split(' | ')|last }}
  {% endif %}
</h2>
{% endif %}

{# Blog listing #}
<section class="blog-index">
  {% set contents = blog_recent_posts(module.blog, resultsCount) %}
  {% if module.show_popular and module.popular_time %}
    {% set contents = blog_popular_posts(module.blog, resultsCount, module.blog_tag_listing.filters, module.popular_time) %}
  {% endif %}
  {% if module.blog_tag_listing.filters|length > 0 %}
    {% set contents = blog_recent_tag_posts(module.blog, module.blog_tag_listing.filters|first, resultsCount) %}
  {% endif %}

  {% set requestPathArr = request.path|split("/") %}
  {% if requestPathArr is containing "tag" %}
    {% set tagFilters = requestPathArr|last %}
    {% set blogName = requestPathArr|first %}
    {% if locale_name(locale)|split(" ")|first|lower != "english" %}
      {% set blogName = requestPathArr[1] %}
    {% endif %}
    {% if module.blog_tag_listing.filters|first == tagFilters %}
    {% set contents = blog_recent_tag_posts(blogName, tagFilters, 250) %}
    {% else %}
    {% set contents = [] %}
    {% endif %}
  {% endif %}
  
  {% for content in contents %}

    {% set topicList = content.topic_list %}
    {% for topic in topicList %}
      {% if loop.last %}
        {% if topic.name is string_containing("&") %}
          {% set topicName = topic.name|lower|split(" & ")|join("-") %}
        {% else %}
          {% set topicName = topic.name|lower|split(" ")|join("-") %}
        {% endif %}
      {% endif %}
    {% endfor %}

  {% if loop.index <= resultsCount %}

    {# Blog listing article #}

    {% set sanitizedTitle = group.name|lower %}

    <article
      class="blog-index__post blog-index__post--{{ list_type }} {{ 'events' if sanitizedTitle is string_containing 'events' }}"
      aria-label="Blog post summary: {{ content.name }}"
      id="post-{{ loop.index }}"
    >
      <a class="blog-index__post-link" href="{{ content.absolute_url }}"></a>
      {# Override Featured Image #}
      {% if module.featured_image == false or module.override_featured_image.src != "" %}
        <img
          class="blog-index__post-image blog-index__post-image--{{ list_type }}"
          src="{{ module.override_featured_image.src }}"
          loading="lazy"
          alt="{{ module.override_featured_image.alt }}"
          width="{{ list_type == "small" ? "181" : "244" }}"
          height="{{ list_type == "small" ? "226" : "304" }}"
        />
      {% endif %}

      {# Featured image #}

      {% if content.featured_image and module.featured_image %}

        <img
          class="blog-index__post-image blog-index__post-image--{{ list_type }}"
          src="{{ content.featured_image }}"
          loading="lazy"
          alt="{{ content.featured_image_alt_text }}"
          width="{{ list_type == "small" ? "181" : "244" }}"
          height="{{ list_type == "small" ? "226" : "304" }}"
        />
      {% endif %}

      {# Article content #}

      <div class="blog-index__post-content blog-index__post-content--{{ list_type }}">
        {# Add extra row to listing card content for events w/ Location and Date #}

        {% if sanitizedTitle is string_containing 'events' %}

          {% set locationIcon = module.event_icons.location %}
          {% set dateIcon = module.event_icons.date %}

          <div class="blog-index__event-details">
          {% set location = content.widgets|attr('upcoming_dates')|string|split('location=')|last|split(', start')|first %}
            <span class="blog-index__event--location" data-location="{{ location }}">
              <img
                src="{{ locationIcon.src }}"
                alt="{{ locationIcon.alt }}"
                loading="{{ locationIcon.loading }}"
                width="{{ locationIcon.width }}"
                class="blog-index__event-details--img"
              />
              {{ location }}
            </span>
            {% set unformatted = content.widgets|attr('upcoming_dates')|string|split('start=')|last|split('}')|first %}
            <span class="blog-index__event--date" data-date="{{ unformatted }}">
              <img
                src="{{ dateIcon.src }}"
                alt="{{ dateIcon.alt }}"
                loading="{{ dateIcon.loading }}"
                width="{{ dateIcon.width }}"
                class="blog-index__event-details--img"
              />
            </span>
          </div>

        {% endif %}

        {# Tags #}

        {% if module.tags and content.tag_list %}
          <div class="blog-index__post-tags">
            {% for tag in content.tag_list %}
            {% if loop.last %}
              <a class="blog-index__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {# Title #}

        {% if module.title %}
          <h2 class="blog-index__post-title--{{ list_type }}">
            {{ content.name }}
          </h2>
        {% endif %}

        {# Author #}

        {% if module.author and content.blog_author %}
          <div class="blog-index__post-author">
            {% if content.blog_author.avatar %}
              <img
                class="blog-index__post-author-image"
                src="{{ content.blog_author.avatar }}"
                width="30"
                loading="lazy"
                alt="Picture of {{ content.blog_author.display_name }}"
              />
            {% endif %}
            <a class="blog-index__post-author-name" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
              >{{ content.blog_author.display_name }}</a
            >
          </div>
        {% endif %}

        {# Publish date #}

        {% if module.publish_date %}
          <time class="blog-index__post-timestamp" datetime="{{ content.publish_date }}">
            {{ content.publish_date_localized }}
          </time>
        {% endif %}

        {# Summary #}

        {% if module.description %}
          <div class="blog-index__post-summary" data-loop-index="post-{{ loop.index }}">
            {% if module.layout_style == "card" %}
              {% if content.name|length > 40 %}
                {% set charsToTruncate = 80 %}
              {% else %}
                {% set charsToTruncate = 120 %}
              {% endif %}
              {% if group.name is string_containing 'Events' and content.name|length > 40 %}
                {% set charsToTruncate = 68 %}
              {% elif group.name is string_containing 'Events' and content.name|length < 40 %}
                {% set charsToTruncate = 100 %}
              {% endif %}
            {% endif %}

            {% if module.layout_style == "combo" and loop.index > 1 %}
              {% if content.name|length > 40 %}
                {% set charsToTruncate = 80 %}
              {% else %}
                {% set charsToTruncate = 120 %}
              {% endif %}
            {% endif %}
            {% if content.post_summary %}
              {{ content.post_summary|striptags|truncate(charsToTruncate, True, '...') }}
            {% elif content.post_list_content %}
              {{ content.post_list_content|striptags|truncate(charsToTruncate, True, '...')  }}
            {% else %}
              <p>
                {{ content.widgets|string|split("subheader=")|last|split("}")|first|truncate(charsToTruncate, True, "...") }}
              </p>
            {% endif %}
          </div>
        {% endif %}

        {# Read more button #}

        {% if module.button %}
          <div class="blog-index__post-button-wrapper">
            <a class="blog-index__post-button" href="{{ content.absolute_url }}"
              >{{ module.button_text }}</a
            >
          </div>
        {% endif %}
      </div>
    </article>
  {% endif %}
  {% endfor %}

  {% if module.add_link_to_blog == true %}
    {% set blog_to_link = blog_by_id(module.blog) %}
    {% set link_text = module.link_text if module.link_text else "All {{ blog_to_link.html_title }}" %}
    <div class="blog-index__link-all-wrapper">
      <a class="blog-index__link-all-link" href="{{ blog_to_link.absolute_url }}">{{ link_text }}</a>
    </div>
  {% endif %}
</section>
