.logo-box__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: clamp(240px, 100%, 396px);
  justify-content: space-evenly;
  padding: 0.75rem 1rem;
}

.customer-stories .logo-box__logo {
  align-self: center;
  margin: 0 auto;
}

.customer-stories > .logo-box__container {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0 0 0 / 15%);
  padding: 1.5rem;
}