button,
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: fit-content;
  white-space: normal;
}

button:hover,
.button:hover {
  filter: brightness(0.95);
}

button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}

/* Custom colour button rules */

.button-purple,
.button-white {
  border: 1px solid #6734FF !important;
  border-radius: 24px;
  font-family: 'Monserrat';
  font-size: 16px;
  font-weight: 600;
  padding: 11px 32px;
}

.button-purple {
  background-color: #6734FF !important;
  color: #FFF !important;
}

.button-white {
  background-color: #FFF !important;
  color: #0F1E2D !important;
}

.button-purple:hover,
.button-purple:focus,
.button-white:hover,
.button-white:focus {
  filter: brightness(0.95);
}