.featured-article,
.editors-pick {
	grid-column: span 12;
}

/* .featured-article .article-card .article-header {
  display: flex;
  flex-direction: column;
} */

.featured-article .article-card .article-title {
  font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin: 0;
}

.featured-article .featured-summary {
  display: -webkit-box;
  font-size: 16px;
	margin: 8px 0 16px;
  max-height: 66px;
	/* max-width: 480px; */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.featured-article .article-card .article-cover {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
	padding: 0 0 42%;
}

.editors-pick .article-card .article-cover {
	margin: 0 0 0 24px;
	height: 80px;
	width: 80px;
}

.article-image__editors-pick {
  width: 181px;
  height: 226px;
}

.most-popular {
	grid-column: span 12;
}

.most-popular-list {
	counter-reset: li;
}

.most-popular-list .item {
	position: relative;
	padding: 0 0 0 36px;
}

.most-popular-list .item:before {
	content: counter(li) ".";
	counter-increment: li;
	color: rgba(0,0,0,.16);
	display: inline-block;
	font-family: inherit;
	font-size: 42px;
	float: left;
	letter-spacing: -2px;
	line-height: 1;
	margin: -2px 0 0 -36px;
}

/* Extra universal styles from imported content */

.content-header {
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
}

@media only screen and (min-width: 1480px) {
  .content-header {
    margin: 0 10px 0.5rem;
  }
}

.content-header__featured-section {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.border-bottom-light {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.gap-24 {
  grid-gap: 24px;
  gap: 24px;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
  -webkit-box-flex: 1;
}

.align-items-center {
  align-items: center;
  -webkit-box-align: center;
}

.header-meta .article-meta {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-meta .article-meta .author-name {
  display: inline-block;
  margin: 0 0 2px;
}

.hover-line:hover {
  text-decoration: underline;
}

.c-light {
  color: #525E6A;
}

.c-lighter {
  color: rgba(0, 0, 0, 0.54);
}

.header-meta .article-meta .separator {
  padding: 0 4px;
}


@media (min-width: 760px) {
	.editors-pick .article-card .article-cover {
		height: 120px;
		width: 120px;
	}
}

@media (min-width: 960px) {
	.featured-article {
    grid-column: span 7;
  }
	
	.editors-pick {
    grid-column: span 5;
  }
}

@media screen and (max-width: 760px) {
  .hero-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}