{# Breadcrumb menu constructor macro #}
{% from "../../utils/macros.html" import createBreadcrumbMenu %}

{% require_css %}
  <style>
    {% scope_css %}

      {# Light vs Dark mode colors #}

      {% if module.mode == "light" %}
        .hero-banner {
          background-color: #eff3f7;
        }

        .hero-banner__header {
          color: #0f1e2d;
        }

        .hero-banner__header > strong {
          color: #00B9BC;
          font-weight: inherit;
        }

        .hero-banner__breadcrumb {
          color: #525e6a;
        }

        .hero-banner__eyebrow {
          color: #525e6a;
        }

        .hero-banner__links--menu {
          background-color: #0F1E2D;
          border-radius: 8px;
          display: flex;
          gap: 1.5rem;
          margin: 10% 0 0;
          padding: 1rem 0;
        }

        .hero-banner__links--submenu > span {
          color: #878E96;
        }

        .hero-banner__links--submenu > a {
          border-bottom: 2px solid #00B9BC;
          color: #FFFFFF;
          transition: all 0.3s ease-in-out;
        }

        .hero-banner__links--submenu > a:hover {
          border-color: #FFFFFF;
        }

        .hero-banner__links--submenu:nth-child(2) {
          border-left: 2px solid rgba(255 255 255 / 0.15);
        }

      {% elif module.mode == "dark" %}
        .hero-banner {
          background-color: #2f3c49;
        }

        .hero-banner__header {
          color: #ffffff;
        }

        .hero-banner__header > strong {
          color: #00B9BC;
          font-weight: inherit;
        }

        .hero-banner__breadcrumb {
          color: #eff3f7;
        }

        .hero-banner__subheader {
          color: #ffffff;
        }

        .hero-banner__eyebrow {
          color: #ffffff;
        }

        .hero-banner__buttons .button {
          background-color: #FFFFFF;
          border-radius: 24px;
          color: #2F3C49;
        }

        .hero-banner__links--menu {
          background-color: #EFF3F7;
          border-radius: 8px;
          display: flex;
          gap: 1.5rem;
          margin: 5% 0 0;
          padding: 1rem 0;
        }

        .hero-banner__links--submenu > span {
          color: #2F3C49;
        }

        .hero-banner__links--submenu > a {
          border-bottom: 2px solid transparent;
          color: #0F1E2D;
          transition: all 0.3s ease-in-out;
        }

        .hero-banner__links--submenu > a:hover {
          border-color: #00B9BC;
        }

        .hero-banner__links--submenu:nth-child(2) {
          border-left: 2px solid rgba(0 0 0 / 0.8);
        }

      {% elif module.mode == "image" %}
        .hero-banner {
          background-image: url({{ module.background_image.src }});
          background-size: cover;
          background-repeat: no-repeat;
        }

        .hero-banner__header > strong {
          color: #FFFFFF;
        }

        .hero-banner__breadcrumb,
        .hero-banner__eyebrow {
          color: #FFFFFF;
        }
      {% endif %}

      {# Optional User Override of BG Color #}
      {% if module.styles.override_background == true and module.mode != "image" %}
        .hero-banner {
          background-color: {{ module.styles.background.color }};
        }
      {% endif %}

      {# Add chevron to breadcrumb menu #}
      {% set chevronPath = "../../images/module-icons/breadcrumbs-chevron.png" %}
      .breadcrumb__menu-item:not(.active-page):after {
        background: url("{{ get_asset_url(chevronPath) }}") no-repeat;
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
        transform: translateY(22.5%);
      }
    
    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Translate markup not included in editable fields #}
{% set reqPath = request.path|split('/', 2) %}
{% set langCode = reqPath|first %}
{% if langCode == "sv" %}
  {% set joiningWord = "eller" %}
{% elif langCode == "de" %}
  {% set joiningWord = "oder" %}
{% else %}
  {% set joiningWord = "or" %}
{% endif %}

{% set langTag = content.language.details.tag %}
{% set pageName = request.path|split("/")|last|split("-")|map("capitalize")|join(" ") %}

<section class="hero-banner" id="hero-banner">
  <div class="hero-banner__container">

  <div class="hero-banner__text-section">
    {% if module.breadcrumb|length > 0 %}
      <ol class="hero-banner__breadcrumb-menu breadcrumb-menu">
        {% for crumb in module.breadcrumb %}
          <li class="breadcrumb__menu-item">
            <a href="{{ crumb.link.url.href }}">{{ crumb.text }}</a>
          </li>
        {% endfor %}
        <li class="breadcrumb__menu-item active-page">
          <span>{{ pageName }}</span>
        </li>
      </ol>
    {% endif %}
    {% if module.eyebrow != "" %}
      <span class="hero-banner__eyebrow">{{ module.eyebrow }}</span>
    {% endif %}
    {% if module.use_richtext == false %}
      <h1 class="hero-banner__header">{{ module.header_text }}</h1>
    {% else %}
      {{ module.header_richtext }}
    {% endif %}
    <div class="hero-banner__subheader {{ module.column }}-layout">{{ module.subheader }}</div>

    {% if module.buttons|length > 0 %}
    <div class="hero-banner__buttons">
      {% for button in module.buttons %}
        <a href="{{ button.link_url }}" class="hero-banner__button button{{"--" ~ button.type if module.mode == "light" }}">{{ button.text }}</a>

        {% if loop.index == 1 %}
          <span>{{ joiningWord }}</span>
        {% endif %}

      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="hero-banner__media-section {{ module.column }}-section">
    {% if module.column == "logo" or module.column == "video" %}
      <img src="{{ module.logo_image.src }}" width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}" class="hero-banner__logo" />
    {% endif %}

    {% if module.column == "video" %}
      <div class="hero-media-player__wrapper">
        {% video_player 
          player_id="{{ module.video.player_id }}",
          autoplay="{{ module.video.autoplay }}",
          hide_control="{{ module.video.hide_control}}",
          loop="{{ module.video.loop_video }}"
        %}
      </div>
    {% endif %}

    {% if module.column == "links" %}
      <div class="hero-banner__links--menu">
        {% for menu in module.links_menu %}
          <div class="hero-banner__links--submenu">
            <span>{{ menu.header }}</span>
            {% for link in menu.links %}
              <a href="{{ link.link.url.href }}">{{ link.text }}</a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if module.column == "form" %}
      {% set form = module.form_section.form %}

      {% form 
        form_key="hero-banner-form",
        form_to_use="{{ form.form_id }}",
        title="{{ module.form_section.title }}",
        response_redirect_url="{{ form.redirect_url }}",
        response_response_type="{{ form.response_type }}",
        reponse_message="{{ form.message }}",
        gotowebinar_webinar_key="{{ form.gotowebinar_webinar_key }}" %}
    {% endif %}
  </div>

  </div>
</section>
