<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: E-book Table of Contents
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}
{% from "../utils/macros.html" import related_posts %}

{% block body %}
  <div class="body-container body-container--blog-post">
    {% module "hero-banner"
      path="../modules/manual-hero-banner.module",
      header="{{ content.name }}",
      subheader="Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus partitor. Duis mollis, est non commodo luctus nis.",
      buttons=null %}

    <div class="content-wrapper">
      <div class="toc__section-header">
        {% rich_text "section-header"
          label="Section Header",
          html="<h2>Content</h2>" %}
        {% module "social-icons"
          path="../modules/social-follow" %}
      </div>
      {% module "table-of-contents"
        path="../modules/table-of-contents" %}
    </div>

    {% related_blog_posts
      limit=4,
      no_wrapper=True,
      post_formatter="related_posts" %}

    <div class="blog-post__cta">
      <div class="blog-post__cta--single">
        {% module "cta-light"
          path="../modules/cta-small",
          mode="light" %}
      </div>
      <div class="blog-post__cta--single">
        {% module "cta-dark"
          path="../modules/cta-small",
          mode="dark" %}
      </div>
    </div>
  </div>
{% endblock body %}
