<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/mm-preview-home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--home" %}

    {# Hero banner #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/hero-banner",
        mode="light",
        breadcrumb_text="lorem ipsum",
        header="maintenance systems build <strong>for unique needs</strong>",
        column="logo",
        buttons=[
          {
            text: "Start free trial",
            type: "teal"
          },
          {
            text: "Book a demo",
            type: "transparent"
          }
        ],
        logo_image={
          src: "../images/mm-stylized-symbol.png"
        } %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Large Video Player #}

    {% dnd_section %}
      {% dnd_module 
        path="@hubspot/videoplayer",
        player_id="{{ context.player_id }}",
        width=12,
        offset=0 %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Trusted By Company Logos Section #}

    {% include_dnd_partial 
      path="../sections/trusted-by.html" %}

    {# Product Cards Section #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/product-cards",
        section_header="discover the benefits <strong>with maintmaster</strong>",
        section_description="Add/edit product cards in field settings in the sidebar to the left" %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Stats Banner #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/stats-banner",
        background_type="none",
        add_description=false,
        features=[
          {
            feature: "Fewer downtimes",
            value: 30
          },
          {
            feature: "Reduced manual handling",
            value: 80
          },
          {
            feature: "Fewer administration hours",
            value: 50
          },
          {
            feature: "Increased productivity",
            value: 25
          }
        ],
        width=12 %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Teams Menu #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/teams-menu",
        width=12,
        background_image={
          src: "../images/large-placeholder-image.png"
        },
        header="<strong>see how other teams</strong>use maintmaster",
        flex="column" %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# Product Cards Section - Large Cards #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/product-cards",
        section_header="key features <strong>that improve your work</strong>",
        section_description="Add/edit product cards in field settings in the sidebar to the left" %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {# What's New Section #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/whats-new",
        orientation="left",
        news_link={
          text: "View all news"
        } %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {% include_dnd_partial 
      path="../sections/cta-banner.html" %}

  {% end_dnd_area %}
{% endblock body %}
