<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
-->

<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8" />
    {% if page_meta.html_title or pageTitle %}
      <title>{{ page_meta.html_title or pageTitle }}</title>
    {% endif %}
    {% if site_settings.favicon_src %}
      <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
    {% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}" />
    {{ require_css(get_asset_url("../css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    {{ require_css(get_asset_url("../css/theme-overrides.css")) }}

    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
        <header class="header header--no-navigation">
          <div class="header__container content-wrapper">
            <div class="header__logo">
              {% module "site_logo"
                path="@hubspot/logo",
                img={
                  "loading": "eager"
                } %}
            </div>
            {% dnd_area "header__drag-and-drop"
              label="Header Drag and Drop",
              class="header__drag-and-drop" %}
            {% end_dnd_area %}
          </div>
        </header>
      {% endblock header %}

      <main id="main-content" class="body-container-wrapper">
        <div id="overlay" class="overlay"></div>
        {% block body %}
          {% dnd_area "dnd_area"
            label="Main section",
            class="body-container body-container--landing-page" %}
          {% end_dnd_area %}
        {% endblock body %}
      </main>

      {% dnd_area "footer"
        label="Landing Page Footer",
        class="footer__container landing-page" %}

        {% dnd_section
          max_width=1440,
          horizontal_alignment="CENTER",
          vertical_alignment="TOP" %}
        {% end_dnd_section %}

      {% end_dnd_area %}
    </div>
    {{ standard_footer_includes }}
  </body>
</html>
