<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Main Blog Listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--blog-index" %}

    {# Hero banner #}

    {% dnd_section %}
      {% dnd_module 
        path="../modules/blog-hero-banner.module",
        header="<h2>Maintmaster blog</h2>",
        subheader="Insights on how you can use maintenance software to improve your maintenance and production departments" %}
      {% end_dnd_module %}
    {% end_dnd_section %}

    {% dnd_section
      max_width=1400,
      vertical_alignment="TOP" %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/featured-blog-posts.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Blog listings and pagination #}

    {% dnd_section
      max_width=1400,
      vertical_alignment="TOP" %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/featured-blog-posts.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 
            path="../modules/popular-posts" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-listings" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-listings" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-pagination" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
{% endblock body %}
