.blog-selector__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 4rem;
  width: clamp(345px, 100%, 1440px);
}

.blog-selector__button-wrapper {
  align-items: center;
  background-color: #FFF;
  border: 1.4px solid #DFE4E9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: center;
  margin: 0;
  padding: 1%;
  transition: all 0.3s ease;
  width: clamp(165px, 35%, 184px);
}

.blog-selector__button-text {
  color: #0F1E2D;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
  padding: 7% 0 0;
  text-align: center;
}

.image {
  height: auto;
  width: 22px;
  transition: all 0.3s ease;
}

.blog-selector__button-image--hover {
  display: none;
}

.blog-selector__button-wrapper:hover,
.blog-selector__button-wrapper:focus,
.blog-selector__button-wrapper:active {
  background-color: #0F1E2D;
  border-color: #0F1E2D;
  cursor: pointer;
}

.blog-selector__button-wrapper.active-page {
  background-color: #0F1E2D;
  border-color: #0F1E2D;
  transition: all 0.3s ease;
}

.blog-selector__button-wrapper.active-page:hover {
  filter: brightness(0.75) invert(0.1);
}

.blog-selector__button-wrapper.active-page p {
  color: #FFF;
}

.blog-selector__button-wrapper.active-page .blog-selector__button-image {
  display: none;
}

.blog-selector__button-wrapper.active-page .blog-selector__button-image--hover {
  display: block;
}

.blog-selector__button-wrapper:hover p {
  color: #FFF;
}

.blog-selector__button-wrapper:focus p {
  color: #FFF;
}

.blog-selector__button-wrapper:active p {
  color: #FFF;
}

.blog-selector__button-wrapper:hover .blog-selector__button-image--hover,
.blog-selector__button-wrapper:focus .blog-selector__button-image--hover,
.blog-selector__button-wrapper:active .blog-selector__button-image--hover {
  display: block;
}

.blog-selector__button-wrapper:hover .blog-selector__button-image,
.blog-selector__button-wrapper:focus .blog-selector__button-image,
.blog-selector__button-wrapper:active .blog-selector__button-image {
  display: none;
}

@media screen and (max-width: 767px) {
  .blog-selector__container {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }

  .blog-selector__button-wrapper {
    height: 74px;
    margin: 0;
    width: calc(50% - 1rem);
  }
}