<!-- module html  -->

<div class="blog-selector__container">
  {% for button in module.blog_selector_buttons %}
  {% set pageContent = blog_by_id(button.selector) %}
  {% if request.path|split("/")|last == pageContent.absolute_url|split("/")|last %}
    {% set activeClass = "active-page" %}
  {% else %}
    {% set activeClass = "" %}
  {% endif %}
  <a class="blog-selector__button-wrapper {{ activeClass }}" href="{{ pageContent.absolute_url }}">
    <img class="image blog-selector__button-image" src="{{ get_asset_url(button.button_display.icon_src) }}" alt="{{ button.button_display.icon_alt }}" />
    <img
      class="image blog-selector__button-image--hover"
      src="{{ get_asset_url(button.button_display.icon_hover_src) }}"
      alt="{{ button.button_display.icon_alt }}"
    />
    <p class="blog-selector__button-text">
      {{ button.button_display.selector_text }}
    </p>
  </a>
  {% endfor %}
</div>
