.tier-features__container {
  margin: 2.5rem auto;
  width: clamp(320px, 100vw, 1240px);
}

.tier-features__table {
  border: none;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

.tier-features__table th {
  border: none;
  color: #0F1E2D;
  padding: 14px;
  vertical-align: middle;
}

.tier-features__table th[scope="col"] {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 26px;
}

.tier-features__table th:first-child {
  width: 37%;
}

.tier-features__table th[scope="col"]:first-child {
  font-family: 'Josefin-Sans'
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  text-transform: uppercase;
}

.tier-features__table th[scope="row"] {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.tier-features__table tr {
  border-bottom: 1px solid #DFE4E9;
}

.tier-features__table tr:nth-child(even) {
  background-color: #F0F5FA;
}

.tier-features__table td {
  border: none;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  width: 21%;
}

.tier-features__row td > span {
  font-size: 20px;
  font-weight: 700;
}