{% require_css %}
  <style>
    {% scope_css %}

    {# Menu items - top level #}
    {% set chevronPath = "../../images/module-icons/chevron-icon-light.png" %}
    {% set hoverCheveronPath = "../../images/module-icons/chevron-icon-black.png" %}

    {% if module.styles.text.color.color %}
      .top-menu__item--depth-1 {
        {{ module.styles.border.border.css }}
      }

      .top-menu__item--depth-1 .top-menu__link {
        color: {{ module.styles.text.color.color }};
      }

      .top-menu__item--depth-1 > a {
        transition: all 0.3s ease-in-out;
      }

      .top-menu__item--depth-1:hover > a,
      .top-menu__item--depth-1:focus > a {
        color: {{ module.styles.hover.color.color }};
      }

      .top-menu__child-toggle-icon {
        background: url({{ get_asset_url(chevronPath) }}) no-repeat;
        border-top-color: {{ module.styles.text.color.color }};
        display: block;
        height: 16px;
        transition: all 0.2s ease;
        width: 16px;
      }

      .top-menu__item--depth-1:hover .top-menu__child-toggle-icon,
      .top-menu__item--depth-1:focus .top-menu__child-toggle-icon {
        background: url({{ get_asset_url(hoverCheveronPath) }}) no-repeat;
      }

      .top-menu__item--open .top-menu__link {
        color: {{ module.styles.hover.color.color }};
      }

      .top-menu__item--open:hover .top-menu__link--toggle,
      .top-menu__item--open:hover .top-menu__link--toggle {
        color: #202225;
        filter: brightness(1.2);
      }

      .top-menu__item--open .top-menu__child-toggle-icon {
        background: url({{ get_asset_url(hoverCheveronPath) }}) no-repeat;
      }

      .top-menu__item--open:hover .top-menu__child-toggle-icon,
      .top-menu__item--open:focus > .top-menu__child-toggle .top-menu__child-toggle-icon {
        filter: brightness(1.2);
      }
    {% endif %}

    {# Menu items - submenus #}

    .top-menu .top-menu__submenu {
      {{ module.styles.dropdowns.border.border.css }}
      {% if module.styles.dropdowns.background.color.color %}
        background-color: rgba({{ module.styles.dropdowns.background.color.color|convert_rgb }}, {{ module.styles.dropdowns.background.color.opacity / 100 }});
      {% endif %}
    }

    @media (min-width: 767px) {
    .top-menu__submenu--level-2::before {
      {{ module.styles.dropdown.border.border.bottom.css }}
      {{ module.styles.dropdown.border.border.left.css }}
      {% if module.styles.dropdowns.background.color.color %}
        background-color: rgba({{ module.styles.dropdowns.background.color.color|convert_rgb }}, {{ module.styles.dropdowns.background.color.opacity / 100 }});
      {% endif %}
      }
    }

    .top-menu__submenu .top-menu__link {
      {% if module.styles.dropdowns.background.color.color %}
        color: rgba({{ module.styles.dropdowns.text.color.color|convert_rgb }}, {{ module.styles.dropdowns.text.color.opacity / 100 }});
      {% endif %}
    }

    .top-menu__submenu .top-menu__link:hover,
    .top-menu__submenu .top-menu__link:focus {
      {% if module.styles.dropdowns.text.color.color %}
        color: rgba({{ module.styles.dropdowns.text.color.color|convert_rgb }}, 1);
      {% endif %}
    }

    {# Assign appropriate icons to submenu list items #}
    {% set basePath = "../../images/module-icons/" %}
    {# TODO: change these when you get the proper icons #}
    {% set menuIcons = ["book-icon-teal.png", "course-icon-teal.png", "all-icon-teal.png"] %}
    {% for icon in menuIcons %}
      {% set icon = basePath ~ icon %}

      .top-menu__item--depth-2:nth-child({{ loop.index }}) .top-menu__link::before {
        background: url("{{ get_asset_url(icon) }}") no-repeat;
        filter: brightness(1) invert(0);
      }
    {% endfor %}

    {% set hoverIcons = ["book-icon-black.png", "course-icon-black.png", "all-icon-black.png"] %}
    {% for icon in hoverIcons %}
      {% set icon = basePath ~ icon %}

        .top-menu__item--depth-2:nth-child({{ loop.index }}) .top-menu__link:hover::before {
          background: url("{{ get_asset_url(icon) }}") no-repeat;
          filter: brightness(1.2) invert(1);
        }
    {% endfor %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}

{% macro menu_items() %}

  {% set menu = menu(module.menu, "site_root").children %}

  {% macro render_link_item(link, depth) %}
    <li class="top-menu__item top-menu__item--depth-{{ depth }} {{ "top-menu__item--has-submenu" if link.children and depth < module.max_levels }}">
      {% if link.url %}
        <a 
          class="top-menu__link top-menu__link--depth-{{ depth }} {{ "top-menu__link--toggle" if link.children and depth < module.max_levels }}"
          href="{{ link.url }}"
          {{ 'aria-haspopup="true" aria-expanded="false"' if link.children and depth < module.max_levels }}
          {{ 'aria-current="page"' if link.activeNode }}
          {{ 'target="_blank" rel="noopener"' if link.linkTarget }}
        >
          {{ link.label }}
        </a>
      {% else %}
        {% if link.children and depth < module.max_levels %}
          <a class="top-menu__link top-menu__link--toggle" href="#" aria-haspopup="true" aria-expanded="false">{{ link.label }}</a>
        {% else %}
          <span class="top-menu__link">{{ link.label }}</span>
        {% endif %}
      {% endif %}

      {% if link.children %}
        {% if depth and depth < module.max_levels %}
          <button class="top-menu__child-toggle no-button" aria-expanded="false">
            <span class="show-for-sr">Show submenu for {{ link.label }}</span>
            <span class="top-menu__child-toggle-icon"></span>
          </button>
          <ul class="top-menu__submenu top-menu__submenu--level-{{ depth + 1 }}">
            {% set depth = depth + 1 %}
            {% for sublink in link.children %}
              {{ render_link_item(sublink, depth) }}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </li>
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}

{% endmacro %}

{# Dekstop #}

<nav class="top-menu top-menu--desktop" aria-label="Top Menu">
  <ul class="top-menu__wrapper no-list">
    {{ menu_items() }}
  </ul>
</nav>

{# Mobile #}

<nav class="top-menu top-menu--mobile" aria-label="Top Menu">
  <ul class="top-menu__wrapper">
    {{ menu_items() }}
  </ul>
</nav>