<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {# Menu items #}
  <div class="footer__container content-wrapper">
    {% menu "footer_menu"
      id=55479164115,
      site_map_name="Footer menu",
      overrideable=False,
      root_type="site_root",
      flyouts="false",
      max_levels="2",
      flow="horizontal",
      extra_classes="footer__menu",
      label="Footer menu" %}
  </div>

  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper" %}

    {# Social follow and copyright #}

    {% dnd_section
      max_width=1400,
      horizontal_alignment="CENTER",
      vertical_alignment="TOP" %}
      {% dnd_column
        width=8,
        offset=0 %}
        {% dnd_row %}
          {% dnd_module "site_logo"
            img={
              "override_inherited_src": true,
              "src": "https://26192282.fs1.hubspotusercontent-eu1.net/hubfs/26192282/logo-white.png",
              "alt": "logo white"
            },
            path="@hubspot/logo" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../../modules/social-follow" %}
            {% module_attribute "social_link"
              is_json=True %}
              [ {"social_account": "facebook-f"}, {"social_account": "linkedin-in"},
              {"social_account": "twitter"}, {"social_account": "instagram"} ]
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row
          margin={
            "top": 12,
            "bottom": 12
          } %}
          {% dnd_module
            path="@hubspot/rich_text",
            html="<div style=\"text-align: center; font-size: 0.7rem;\"><span>© {{ year }} All rights reserved.</span></div>" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        width=4,
        offset=8 %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
