<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {# Add email form to footer menu #}
  {% require_js
    position="footer" %}
    <script>
      var listItems = document.querySelectorAll(".hs-menu-depth-2");
      var lastItem = listItems[listItems.length - 1];
      var form = document.getElementById("hs_form_target_stay_up_to_date");
      lastItem.insertAdjacentElement("afterend", form);

      var footerContainer = document.getElementById(
        "hs_menu_wrapper_footer_menu"
      );
      var parentItemsMobile = footerContainer.querySelectorAll(
        ".hs-item-has-children"
      );
      parentItemsMobile.forEach(function (item) {
        var collapsible = item.querySelector("a");
        var subMenu = collapsible.nextElementSibling;

        collapsible.addEventListener("click", function () {
          if (
            collapsible.classList.contains("mobile-submenu-open") &&
            subMenu.classList.contains("mobile-submenu-open")
          ) {
            collapsible.classList.remove("mobile-submenu-open");
            subMenu.classList.remove("mobile-submenu-open");
          } else {
            collapsible.classList.add("mobile-submenu-open");
            subMenu.classList.add("mobile-submenu-open");
          }
        });

        {# console.log(next); #}
      });
      {# console.log(collapsible); #}
    </script>
  {% end_require_js %}

  {% if (content.slug is string_startingwith("sv/")) or (content.slug == "sv") %}
    {% set siteMapName = "Footer menu SV" %}
  {% else %}
    {% set siteMapName = "Footer menu" %}
  {% endif %}
  {# Menu items #}
  <div class="footer__container">
    {% menu "footer_menu"
      id=55479164115,
      site_map_name={{ siteMapName }},
      overrideable=False,
      root_type="site_root",
      flyouts="false",
      max_levels="2",
      flow="horizontal",
      extra_classes="footer__menu",
      label="Footer menu" %}
    {% form "stay_up_to_date"
      form_to_use="56dd0d9c-bb91-432e-b5f1-166513284545",
      no_title=True %}
  </div>

  {% dnd_area "footer"
    label="Footer",
    class="footer__container" %}

    {# Social follow and copyright #}

    {% dnd_section
      max_width=1400,
      horizontal_alignment="CENTER",
      vertical_alignment="TOP" %}
      {% dnd_column
        width=7,
        offset=0 %}
        {% dnd_row %}
          {% dnd_module "site_logo"
            img={
              "override_inherited_src": true,
              "src": "https://26192282.fs1.hubspotusercontent-eu1.net/hubfs/26192282/logo-white.png",
              "alt": "logo white"
            },
            path="@hubspot/logo" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path="../../modules/social-follow",
            horizontal_alignment="LEFT" %}
            {% module_attribute "social_link"
              is_json=True %}
              [ {"social_account": "facebook-f"}, {"social_account": "linkedin-in"},
              {"social_account": "instagram"} ]
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module "terms_menu"
            path="@hubspot/simple_menu",
            orientation="horizontal",
            extra_classes="footer__menu--terms",
            label="Terms Menu" %}
            {% module_attribute "menu_tree"
              is_json=True %}
              [ { "contentType": null, "subCategory": null, "pageLinkName": null,
              "pageLinkId": null, "isPublished": false, "categoryId": null, "linkParams":
              null, "linkLabel": "Cookies", "linkTarget": null, "linkUrl":
              "http://www.hubspot.com", "children": [], "isDeleted": false }, { "linkLabel":
              "End-user Terms of Service" }, { "linkLabel": "Privacy Policy" }, {
              "linkLabel": "General Online Terms" } ]
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        width=5,
        offset=7 %}
        {% dnd_row %}
          {% dnd_module "download_button"
            path="../../modules/button",
            button_type="standard",
            button_style="dark",
            button_text="Download MaintMaster",
            extra_classes="footer__download-button",
            label="Download button" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
