<!--
  templateType: global_partial
  label: Global Rich Text Column Block
-->

{% choice "add_border" 
  label="Add Border Around Section?",
  value="yes",
  choices="[[\"no\", \"No\"], [\"yes\", \"Yes\"]]",
  export_to_template_context=True %}

{% require_css %}
  <style>
    {# Add section border if choice selected #}

    {% if widget_data.add_border.value == "yes" %}
      {% set borderColor = "#DFE4E9" %}
    {% else %}
      {% set borderColor = "transparent" %}
    {% endif %}

    .richtext-col-2 {
      border: 2px solid {{ borderColor }};
      border-radius: 4px;
      padding: 1rem;
    }

    @media only screen and (max-width: 767px) {
      .richtext-col-2 {
        padding: 0 0 0.5rem;
      }

      .richtext-col-2 p {
        margin: 1rem 0;
      }

      .richtext-col-2 h2,
      .richtext-col-2 h3 {
        margin-top: 1rem;
      }
    }
    {# .simple-post__container .richtext-col-2 {
      grid-column: 8 / span 5;
      grid-row: 1;
    } #}
  </style>
{% end_require_css %}


<div class="richtext-col-2">
  {% module "blog-rich-text" 
    path="@hubspot/rich_text" %}
</div>