<!--
  templateType: partial
  label: Header no navigation
-->
<header class="header header--no-navigation">
  <div class="header__container desktop content-wrapper">
    <div class="header__logo">
      {% module "site_logo"
        path="@hubspot/logo",
        img={
          "loading": "eager"
        } %}
    </div>
    {% dnd_area "header__drag-and-drop"
      label="Header Drag and Drop",
      class="header__drag-and-drop" %}
    {% end_dnd_area %}
  </div>

  {# {% dnd_area "header__drag-and-drop"
    label="Header Drag and Drop",
    class="header__drag-and-drop" %}
  {% end_dnd_area %} #}
</header>
