<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content" class="header__skip">Skip to content</a>

  {# Top header drag and drop area #}

  {% dnd_area "header-top"
    label="Top header",
    class="content-wrapper" %}
  {% end_dnd_area %}

  {# Main header - Desktop #}

  <div class="header__container desktop content-wrapper">
    {# Header navigation column #}

    <div class="header__column">
      {# Header navigation row one #}

      <div class="header__row-1">
        <div class="header__logo header__logo--main">
          {% module "site_logo"
            path="@hubspot/logo" %}
        </div>

        <div class="header__navigation header-top-row">
          {% module "simple_dropdown"
            path="../../modules/simple-dropdown",
            menu="Header Top Menu",
            extra_classes="header-top-menu",
            label="Header Top Menu" %}
        </div>

        {# {% require_js %}
          <script>
            var languageSwitcher = document.querySelector(
              ".header__language-switcher--label-current"
            );
            languageSwitcher.addEventListener("click", function () {
              if (this.classList.contains("open")) {
                this.classList.remove("open");
              } else {
                this.classList.add("open");
              }
            });
          </script>
        {% end_require_js %} #}

        {% if content.translated_content|length or is_listing_view and group.translations %}
          <div class="header--toggle header__language-switcher--toggle"></div>
        {% endif %}
        {% if content.translated_content.values()|selectattr("published")|length or is_listing_view and group.translations %}
          <div class="header__language-switcher header--element">
            <div class="header__language-switcher--label">
              {% module "language-switcher"
                path="@hubspot/language_switcher",
                label="Language switcher",
                display_mode="localized" %}
              <div class="header__language-switcher--label-current {{ locale_name(locale)|split(" ")|first|lower }}">
                {{ locale_name(locale)|split(" ")|first }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      {# Header navigation row two #}

      <div class="header__row-2">
        <div class="header__navigation header--element">
          {% module "custom-header"
            path="../../modules/customizable-menu" %}
        </div>

        <div class="header__navigation header--element">
          {% module "trial-cta"
            path="../../modules/button",
            extra_classes="button-header",
            label="Trial CTA" %}
        </div>
      </div>
    </div>
  </div>

  {# Header Navigation - Mobile #}

  {% require_css %}
    <style>
      .hs-tools-menu {
        display: none;
      }
    </style>
  {% end_require_css %}

  <div class="header__container mobile content-wrapper">
    <div class="header__navigation header__row-1">
      {% logo "site_logo"
        override_inherited_src=True,
        src="{{ get_asset_url('../../images/module-icons/logo-symbol-black.png') }}",
        width=39,
        height=32 %}
      <a class="header__navigation--toggle" href="#">
        {# {% image "hamburger_toggle"
          label="Hamburger Icon",
          alt="hamburger-toggle-icon",
          src="{{ get_asset_url('../../images/module-icons/menu-icon-black.png') }}",
          width="32" %} #}
      </a>
      <a class="header__close--toggle"></a>
    </div>

    <div class="header__navigation header__row-2">
      <div class="header__navigation header--element">
        {% module "custom-header"
          path="../../modules/customizable-menu",
          extra_classes="menu--mobile" %}
      </div>

      <div class="header__navigation header--element">
        {% module "trial-cta"
          path="../../modules/button",
          extra_classes="button-header",
          label="Trial CTA" %}
      </div>

      <div class="header__navigation header-top-row">
        {% module "simple_dropdown"
          path="../../modules/simple-dropdown",
          menu="Header Top Menu",
          extra_classes="header-top-menu",
          label="Header Top Menu" %}
        {# {% if content.translated_content.values()|selectattr("published")|length or is_listing_view and group.translations %}
        <div class="header__language-switcher header--element">
          <div class="header__language-switcher--label">
            {% module "language-switcher"
              path="@hubspot/language_switcher",
              label="Language switcher",
              display_mode="localized" %}
            <div class="header__language-switcher--label-current npe1_">
              {{ locale_name(locale)|split(" ")|first }}
            </div>
          </div>
        </div>
      {% endif %} #}
      </div>

      {% require_js %}
        <script>
          var languageSwitcher = document.querySelector(
            ".header__language-switcher"
          );
          languageSwitcher.addEventListener("click", function () {
            if (this.classList.contains("open")) {
              this.classList.remove("open");
            } else {
              this.classList.add("open");
            }
          });
        </script>
      {% end_require_js %}

      {# {% if content.translated_content.values()|selectattr("published")|length or is_listing_view and group.translations %}
        <div class="header__language-switcher header--element">
          <div class="header__language-switcher--label">
            {% module "language-switcher"
              path="@hubspot/language_switcher",
              label="Language switcher",
              display_mode="localized" %}
            <div class="header__language-switcher--label-current npe1_">
              {{ locale_name(locale)|split(" ")|first }}
            </div>
          </div>
        </div>
      {% endif %} #}
    </div>
  </div>
</header>
