.cta-banner-section {
  margin: 0 auto;
  width: clamp(375px, 100vw, 1440px);
}

.cta-banner-section > .row-fluid {
  gap: 0;
  max-width: 100%;
}

.cta-banner-section .span6 {
  width: 50%;
}

.cta-small {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 10%;
}

.cta-small__heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.cta-small__button-wrapper {
  padding: 2% 0;
}

.cta-small__link {
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  .cta-banner-section > .row-fluid {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .cta-banner-section .span6 {
    width: 100%;
  }
}