.cta-small {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 10%;
}

.cta-small__heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.cta-small__button-wrapper {
  padding: 2% 0;
}

.cta-small__link {
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}