{% import "../../utils/i18n/english.html" as english %}
{% import "../../utils/i18n/svenska.html" as swedish %}

{# Module Variables #}
{% if module.mode == "light" %}
  {% set color_teal = module.styles.bold_color.light.color %}
  {% set backgroundColor = module.styles.background_color.light_bg.color %}
  {% set buttonColor = "#00B9BC" %}
  {% set buttonHover = color_variant(buttonColor, -30) %}
  {% set buttonText = "#2F3C49" %}
  {% set textContentColor = "#0F1E2D" %}
{% elif module.mode == "dark" %}
  {% set color_teal = module.styles.bold_color.dark.color %}
  {% set backgroundColor = module.styles.background_color.dark_bg.color %}
  {% set buttonColor = "#FFFFFF" %}
  {% set buttonHover = color_variant(buttonColor, -20) %}
  {% set buttonText = "#0F1E2D" %}
  {% set textContentColor = "#FFFFFF" %}
{% endif %}

{% require_css %}
  <style>
    {% scope_css %}

      .cta-small {
        background-color: {{ backgroundColor }};
      }

      .cta-small__heading,
      .cta-small__description {
        color: {{ textContentColor }};
      }

      .cta-small__heading > strong {
        color: {{ color_teal }};
        font-weight: inherit;
      }

      .cta-small__link {
        background-color: {{ buttonColor }};
        color: {{ buttonText }};
      }

      .cta-small__link:hover,
      .cta-small__link:focus {
        background-color: {{ buttonHover }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{% if content.language.language == "en" %}
  {% set lang = english %}
{% elif content.language.language == "sv" %}
  {% set lang = swedish %}
{% endif %}

{% if module.mode is equalto("light") %}
  {% set heading = module.heading|length > 4 ? module.heading : lang.ctaHeaderLight %}
  {% set description = module.description|length > 4 ? module.description : lang.ctaDescriptionLight %}
  {% set button_text = module.link_text|length > 2 ? module.link_text : lang.ctaButtonTextLight %}
{% elif module.mode is equalto("dark") %}
  {% set heading = module.heading|length > 4 ? module.heading : lang.ctaHeaderDark %}
  {% set description = module.description|length > 4 ? module.description : lang.ctaDescriptionDark %}
  {% set button_text = module.link_text|length > 2 ? module.link_text : lang.ctaButtonTextDark %}
{% endif %}

<div class="cta-small">
  <h2 class="cta-small__heading">{{ heading }}</h2>
  <p class="cta-small__description">{{ description }}</p>
  <div class="cta-small__button-wrapper">
    {% set href = module.cta_link.url.href %}
    <a
      class="cta-small__link"
      href="{{ href }}"
      {% if module.cta_link.open_in_new_tab %}target="_blank"
      {% endif %}
      {% if module.cta_link.rel %}rel="{{ module.cta_link.rel }}"
      {% endif %}
    >
      {{ button_text }}
    </a>
  </div>
</div>
