.stats-banner__wrapper {
  height: fit-content;
}

.stats-banner__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.stats-container--light,
.stats-container--none {
  padding: 4rem 6.5rem;
}

.stats-container--image {
  padding: 4rem 3.5rem 4.5rem;
}

.stats-banner__headline {
  font-size: 30px;
  line-height: 38px;
}

.stats-banner__features-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.stats-banner__feature {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stats-banner__feature--value {
  font-size: 80px;
  line-height: 79px;
}

.stats-banner__feature--value::after {
  color: inherit;
  content: '%';
  display: inline-block;
  height: fit-content;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: fit-content;
}

.stats-banner__feature--text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}