{% require_css %}
  <style>
    {% scope_css %}

      {# Provide background color based on user choice #}

      {% set bgColor = "#15CCCF" %}
      {% if module.styles.circle_bg_color == "purple" %}
        {% set bgColor = "#6734FF" %}
      {% elif module.styles.circle_bg_color == "grey" %}
        {% set bgColor = "#DFE4E9" %}
      {% endif %}

      .key-features__player--background {
        background-color: {{ bgColor }};
      }

      {# Show selected icon in feature title #}

      {% set titleIconUrl = get_asset_url("../../images/module-icons/scheduling-icon-teal.png") %}
      {% set width = 40 ~ "px" %}
      {% set height = 20 ~ "px" %}
      {% for feature in module.key_features.feature %}
      {% if feature.feature_title.icon.src %}
        {% set titleIconUrl = feature.feature_title.icon.src %}
      {% endif %}
      {% if feature.feature_title.icon.width %}
        {% set width = feature.feature_title.icon.width ~ "px" %}
      {% endif %}
      {% if feature.feature_title.icon.height %}
        {% set height = feature.feature_title.icon.height ~ "px" %}
      {% endif %}

      .key-features__feature:nth-child({{ loop.index }}) .key-features__title::before {
        background: url("{{ titleIconUrl }}") no-repeat;
        content: "";
        display: block;
        height: 100%;
        margin-right: 2px;
        transform: translate(-10%, -13%);
        width: {{ width }};
      }
      {% endfor %}

      .key-features__header > strong {
        color: #00b9bc;
      }

      {% set firstFeature = module.key_features.feature|first %}
      {% set firstFeatureImgWidth = firstFeature.image_options.image.width %}
      @media screen and (max-width: {{ firstFeatureImgWidth ~ "px" }}) {
        .key-features__image-container {
          padding: 0;
        }

        .key-features__image {
          object-fit: contain;
          width: 100%;
        }
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<!-- module html  -->

<h2 class="key-features__header">{{ module.header }}</h2>

<section class="key-features">
  {% for feature in module.key_features.feature %}

  {% set linkHref = feature.feature_link.url.href %}
  {% set img = feature.image_options.image %}

  <div class="key-features__feature">
    <div class="key-features__image-container">
      {% if img.src %}
        {% set sizeAttrs = "width=\"{{ img.width }}\" height=\"{{ img.height }}\"" %}
        {% if img.size_type == "auto" %}
          {% set sizeAttrs = "style=\"max-width: 100%; height: auto;\"" %}
        {% elif img.size_type == "auto_custom_max" %}
          {% set sizeAttrs = "width\"{{ img.max_width }}\" height=\"{{ img.max_height }}\" style=\"max-width: 100%; max-height: auto;\"" %}
        {% endif %}
        {% set loadingAttr = img.loading != "disabled" ? "loading=\"{{ img.loading }}\"" : "" %}
        <img
          class="key-features__image"
          src="{{ img.src }}"
          alt="{{ img.alt }}"
          {{ loadingAttr }}
          {{ sizeAttrs }}
        />
      {% endif %}
    </div>
    <div class="key-features__text-container">
      <span class="key-features__title">{{ feature.feature_title.title }}</span>
      <p class="key-features__description">{{ feature.feature_description }}</p>
      <a class="key-features__link hs-skip-lang-url-rewrite" href="{{ linkHref }}"
        >{{ feature.feature_link.text }}</a
      >
    </div>
  </div>

  {% endfor %}
</section>
