.key-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 22px;
  margin: 0 auto;
  width: clamp(365px, 100%, 1440px);
}

@media screen and (min-width: 767px) and (max-width: 1440px) {
  .key-features {
    padding: 0 1rem;
  }
}

.key-features__header {
  margin: 0 auto 2rem;
  padding-top: 4rem;
  text-align: center;
  width: clamp(365px, 70%, 880px);
}

.key-features__feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 4px 1.5rem;
  width: clamp(345px, 45%, 454px);
}

.key-features__image-container {
  padding-right: 1rem;
}

.key-features__image {
  object-fit: cover;
}

.key-features__text-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 1.5rem 0.5rem 0 0.125rem;
}

.key-features__title {
  align-items: center;
  color: #0F1E2D;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.key-features__description {
  margin: 0;
  max-height: 104px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.key-features__description,
.key-features__link {
  line-height: 26px;
  width: fit-content;
}

.key-features__link {
  border-bottom: 3px solid transparent;
}

.key-features__link:hover {
  border-color: #00B9BC;
}

@media screen and (max-width: 767px) {
  .key-features {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100vw;
  }

  .key-features__header {
    margin-bottom: 0;
  }

  .key-features__feature {
    margin: 0 auto;
    min-width: 100vw;
    padding: 1rem 0.75rem;
    scroll-snap-align: center;
  }

  .key-features__link {
    font-size: 16px;
  }
}