footer.footer {
  background: #0F1E2D;
}

.footer__container {
  background-color: #0F1E2D;
  margin: 0 auto;
  padding: 40px clamp(1rem, 5.25%, 110px) 0;
  width: clamp(375px, 100vw, 1640px);
}



.footer__container:nth-child(2) {
  padding: 20px 104px 48px;
}

.hs-menu-item .hs-item-has-children {
  display: flex;
  flex-direction: column;
  padding: 0 30px 40px 0;
}

.footer__menu > .hs-menu-depth-1 a {
  border-bottom: 1px solid rgba(#FFFFFF, 0.15);
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 8px 0;
  width: 100%;
}

.hs-menu-depth-1:last-child .hs-menu-children-wrapper li > a {
  display: none;
}

.hs-menu-depth-2 a {
  color: #ABB0B5;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 0 0;
  transition: all 0.2s ease;
}

.hs-menu-depth-2 a:hover {
  color: #ABB0B5;
  filter: brightness(110%);
  font-weight: 600;
}

#hs_menu_wrapper_footer_menu {
  /* padding: 40px 73px 0 105px; */
  width: 100%;
}

#hs_menu_wrapper_footer_menu ul:first-child:not(.inputs-list) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  flex-direction: column;
  max-height: 560px;
}

#hs_menu_wrapper_footer_menu ul:first-child > li:not(.hs-form-booleancheckbox) {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 2rem 2.5rem 0;
  width: 20%;
}

#hs_menu_wrapper_footer_menu ul:first-child > li:nth-child(n + 7) {
  padding-right: 0;
}

#hs_menu_wrapper_footer_menu li {
  padding: 0 0 8px 0;
}

#hs_menu_wrapper_footer_menu li:first-child {
  padding-top: 8px;
}

#hs_menu_wrapper_footer_menu ul:first-child > li > a {
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 6px 0;
  width: 100%;
}

#hs_menu_wrapper_footer_menu ul:first-child > li > a:hover {
  border: none;
  color: #FFFFFF;
  cursor: text;
}

#hs_menu_wrapper_footer_menu .hs-menu-children-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

#hs_form_target_stay_up_to_date > form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#hs_form_target_stay_up_to_date .hs-email > label span {
  color: #ABB0B5;
  font-weight: 400;
}

#hs_form_target_stay_up_to_date input[type='submit'] {
  width: 100%;
}

.legal-consent-container > div:first-child {
  display: none;
}

.legal-consent-container {
  align-self: flex-end;
  justify-self: flex-end;
  width: 100%;
}

.legal-consent-container .hs-form-booleancheckbox {
  margin: 0;
}

.legal-consent-container .hs-form-booleancheckbox-display input {
  margin-right: 0;
}

.legal-consent-container .hs-form-booleancheckbox-display > span {
  margin-left: 8px !important;
}

.legal-consent-container .hs-form-booleancheckbox-display > span p {
  color: #ABB0B5;
  font-size: 14px;
  margin-left: 0 !important;
}

.legal-consent-container .hs-form-booleancheckbox > label {
  align-items: center;
  display: flex;
}

.footer-row-0-vertical-alignment {
  padding: 0 !important;
}

.footer-column-1-vertical-alignment {
  padding: 0 !important;
}

.footer-column-1-vertical-alignment > .row-depth-1 {
  padding: .75rem 0;
}

.footer__menu--terms ul > li {
  padding: 0 1.5rem 0 0;
}

/* .footer__menu--terms ul > li:first-child {
  padding-left: 0;
} */

.footer__menu--terms ul > li > a {
  border: none;
  color: #ABB0B5;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer__menu--terms ul > li > a:hover {
  border: none;
  filter: unset;
}

.footer-column-5-vertical-alignment {
  padding: 0;
  align-items: flex-end;
}

.footer__download-button .button-wrapper {
  width: 100%;
}

.footer__download-button .button {
  align-items: center;
  border-color: #00B9BC !important;
  border-radius: 60px !important;
  color: #00B9BC !important;
  display: flex;
  padding: 10px 24px !important;
  width: fit-content;
}

.footer__download-button .button::after {
  background: url('{{ get_asset_url("../../images/module-icons/download-icon-teal.png") }}');
  display: inline-block;
  height: 2rem;
  margin-left: 8px;
  width: 2rem;
}

@media screen and (max-width: 767px) {
  footer.hs-menu-wrapper.hs-menu-flow-horizontal ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .footer__container {
    padding: 3% 4% 6%;
  }

  .footer__container:nth-child(2) {
    padding: 3% 7% 4%;
  }
  
  .footer__container:nth-child(2) .row-fluid {
    align-items: center;
    flex-direction: column;
  }

  .footer__container:nth-child(2) .row-fluid > .span12 {
    align-items: center !important;
    max-width: 98% !important;
    text-align: center !important;
  }

  .footer-menu__terms ul {
    gap: 0.75rem;
  }

  .footer__menu--terms ul > li {
    padding-right: 0;
  }

  #hs_menu_wrapper_footer_menu ul:first-child:not(.inputs-list) {
    max-height: unset;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li:not(.hs-form-booleancheckbox) {
    padding: 0;
    width: 100%;
  }

  #hs_menu_wrapper_footer_menu .hs-menu-children-wrapper {
    padding: 0 0.5rem;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > a {
    align-items: stretch;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 20px 2px 14px;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > a:after {
    background: url('{{ get_asset_url("../../images/module-icons/plus-icon-circle.png") }}');
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > a.mobile-submenu-open:after {
    background: url('{{ get_asset_url("../../images/module-icons/minus-icon-circle.png") }}');
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > ul {
    border: none;
    display: none;
  }

  #hs_menu_wrapper_footer_menu ul:first-child > li > ul.mobile-submenu-open {
    display: flex;
  }

  .footer__download-button .button-wrapper {
    margin: 1.5rem 0;
  }

  .footer__download-button .button {
    margin: 0 auto;
  }
}

/* Landing Page */
.footer__container.landing-page {
  margin-top: 3rem;
}