{% set chevronPath = "../../images/module-icons/breadcrumbs-chevron.png" %}
{% set chevronFsUrl = "https://26192282.fs1.hubspotusercontent-eu1.net/hubfs/26192282/module-icons/breadcrumbs-chevron.png" %}
{% set chevronUrl = get_asset_url(checkmarkPath) != "" ? get_asset_url(chevronPath) : chevronFsUrl %}

{% require_css %}
  <style>
    {% scope_css %}
      .breadcrumb__menu-item:not(.active-page):after {
        background: url("{{ chevronUrl }}") no-repeat;
        content: "";
        display: inline-block;
        height: 1rem;
        transform: translateY(25%);
        width: 1rem;
      }

      .blog-hero-banner__image {
        position: absolute;
      }

      .blog-hero-banner__image-wrapper {
        background-color: #0f1e2d;
        background-position: 5% 5%;
        height: {{ module.image.height ~ "px" }};
        position: absolute;
        translate: 5% 7.5%;
        width: {{ module.image.width ~ "px" }};
      }

      {% if module.skew_image == true %}
        .blog-hero-banner__image,
        .blog-hero-banner__image-wrapper {
          left: 20%;
          transform: skew(-7.5deg);
          top: 5%;
        }
      {% endif %}

      @media screen and (max-width: 480px) {
        .blog-hero-banner__image-wrapper {
          display: none;
        }

        .blog-hero-banner__image {
          position: unset !important;
          transform: unset;
        }
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<!-- module html  -->


<section class="hero-banner" id="blog-hero-banner">
  {% set form = module.form %}
  {% set blog = module.blog %}
  {% set pageType = content.CMSContentType.valueDescriptor.name %}

  <div class="hero-banner__container">
    <div class="hero-banner__text-section">
      {% if module.breadcrumb|length > 0 %}
        <ol class="hero-banner__breadcrumb-menu breadcrumb-menu">
          {% for crumb in module.breadcrumb %}
          <li class="breadcrumb__menu-item">
            <a href="{{ crumb.link.url.href }}">{{ crumb.text }}</a>
          </li>
          {% endfor %}
          <li class="breadcrumb__menu-item active-page">
            <span>{{ content.title }}</span>
          </li>
        </ol>
      {% endif %}

      {% if pageType == "BLOG_POST" %}
        <span class="hero-banner__eyebrow">{{ content.topic_list|first }}</span>
      {% endif %}

      {{ module.header_richtext }}

      {% if pageType == "BLOG_POST" %}
        <figure class="hero-banner__article-meta">
          <img
            class="hero-banner__author--avatar"
            src="{{ content.blog_post_author.avatar }}"
            alt="{{ content.blog_post_author.display_name }}"
            loading="lazy"
          />
          <div class="hero-banner__author--details">
            <span>{{ content.blog_post_author.display_name }}</span>
            <span>
              {{ content.publish_date|format_date('dd MM yyyy') }} 
              &bull; 
              {{ content.post_body|striptags|wordcount|divide(300)|round }} min
            </span>
          </div>
        </figure>
      {% else %}
      <div class="hero-banner__subheader">
        {{ module.subheader }}
      </div>
      {% endif %}

      {% if pageType == "LISTING_PAGE" %}
        <div class="hero-blog-selector__container">
          {% for button in module.blog_selector_buttons %}
          {% set href = blog_tag_url(blog, button.tag) %}

          {% if request.path|split("/")|last == href|split("/")|last %}
            {% set activeClass = "active-page" %}
          {% else %}
            {% set activeClass = "" %}
          {% endif %}

          <a class="hero-blog-selector__button-wrapper {{ activeClass }}" href="{{ href }}">
            <p class="hero-blog-selector__button-text">
              {{ button.text }}
            </p>
          </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="hero-banner__media-section {{ module.column }}-section">
      {% if module.column == "form" %}
        {% form
          form_key="blog-form",
          form_to_use="{{ form.form_id }}",
          no_title=True,
          response_redirect_url="{{ form.redirect_url }}",
          response_redirect_id="{{ form.redirect_id }}",
          response_response_type="{{ form.response_type }}",
          response_message="{{ form.message }}",
          gotowebinar_webinar_key="{{ form.gotowebinar_webinar_key }}" %}
      {% elif module.column == "image" %}
        <div class="blog-hero-banner__image-wrapper"></div>
        <img
          class="blog-hero-banner__image"
          src="{{ module.image.src }}"
          height="{{ module.image.height }}"
          width="{{ module.image.width }}"
          loading="{{ module.image.loading }}"
        />
      {% endif %}
    </div>
  </div>
</section>
