.dnd-section > .row-fluid:has(#hero-banner),
.dnd-section > .row-fluid:has(#manual-hero-banner),
.dnd-section > .row-fluid:has(#blog-hero-banner) {
  max-width: 100vw;
}

.hero-banner {
  /* display: flex; */
  background-color: #EFF3F7;
  margin: 0 auto;
  min-height: 406px;
  padding: 2.5rem 4rem;
  width: clamp(375px, 100%, 1640px);
}

@media screen and (max-width: 1440px) {
  .hero-banner {
    padding: 2.5rem 1rem;
  }
}

.hero-banner__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: clamp(345px, 100%, 1440px);
}

.hero-banner__text-section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0;
  width: clamp(340px, 100%, 705px);
}

#blog-hero-banner .hero-banner__text-section {
  gap: 1rem;
}

.hero-banner__text-section h1, 
.hero-banner__text-section h2, 
.hero-banner__text-section h3 {
  margin-bottom: 0;
}

.hero-banner__breadcrumb-menu {
  align-items: center;
  display: flex;
  gap: 2px;
  list-style: none;
  margin-bottom: -.15%;
  padding: 0;
  transform: translateY(-150%);
}

.breadcrumb__menu-item::marker {
  display: none;
}

.breadcrumb__menu-item > a,
.breadcrumb__menu-item > span {
  color: #525D69;
  font-size: 12px;
  line-height: 24px;
  padding: 2px;
}

.breadcrumb__menu-item > a {
  font-weight: 400;
  text-decoration: underline;
}

.hero-banner__header {
  color: #0F1E2D;
  margin: 0;
  white-space: break-spaces;
}

.hero-banner__header > strong {
  color: #00B9BC;
  font-weight: inherit;
}

.hero-banner__eyebrow {
  color: #525D69;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.hero-banner__text-section h1,
.hero-banner__text-section h2 {
  text-transform: unset;
}

.hero-banner__subheader > p {
  font-size: 20px;
  line-height: 30px;
  padding: 0.5rem 0;
}

.hero-banner__subheader.form-layout > p {
  margin-bottom: 2px;
}

.hero-banner__breadcrumb {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Blog selector buttons */

.hero-blog-selector__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.hero-blog-selector__button-wrapper {
  background-color: #EFF3F7;
  border: 2px solid #00B9BC;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.hero-blog-selector__button-text {
  color: #0F1E2D;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.hero-blog-selector__button-wrapper:hover,
.hero-blog-selector__button-wrapper.active-page {
  background-color: #0F1E2D;
  border-color: #0F1E2D;
}

.hero-blog-selector__button-wrapper:hover > .hero-blog-selector__button-text,
.hero-blog-selector__button-wrapper.active-page > .hero-blog-selector__button-text {
  color: #FFF;
}

.hero-banner__media-section {
  position: relative;
  width: 43%;
}

.hero-banner__media-section.form-section {
  background-color: #0F1E2D;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 1rem;
  position: absolute;
  right: calc(50% - 720px);
  transform: translate(0, -2.5%);
  width: clamp(345px, 100%, 500px);
}

.hero-banner__media-section.form-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0 0 8px;
}

.hero-banner__media-section form {
  padding: 1rem 0;
}

.hero-banner__media-section form label {
  margin-bottom: 4px;
}

.hero-banner__media-section form > fieldset.form-columns-2 .hs-form-field {
  width: 50%;
}

.hero-banner__media-section form > fieldset.form-columns-2 .input {
  margin-right: 1rem;
}

.hero-banner__media-section.form-section form > fieldset.form-columns-1 .hs-input {
  width: 100%;
  margin-right: 0;
}

#hs_form_target_hero-banner-form,
.hero-banner__media-section.form-section > span {
  width: 100%;
}

.hero-banner__logo {
  display: block;
  left: 50%;
  /* max-width: 600px; */
  position: absolute;
  top: 55%;
  transform: translate(-37.5%, -40%);
}

.hero-banner__links--submenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.hero-banner__links--submenu > span {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.hero-banner__links--submenu > a {
  font-weight: 600;
  max-width: fit-content;
}

/* Article Meta For Single Blog Posts */

.hero-banner__article-meta {
  display: flex;
  gap: 1rem;
  /* justify-content: center; */
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
  margin-inline-end: 2px;
  margin-inline-start: 0;
}

.hero-banner__author--avatar {
  border-radius: 100%;
  height: 56px;
  object-fit: cover;
  width: 56px;
}

.hero-banner__author--details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.hero-banner__author--details > span {
  font-size: 14px;
}

.hero-banner__author--details > span:first-child {
  color: #0F1E2D;
  font-weight: 500;
}

.hero-banner__author--details > span:last-child {
  color: #525D69;
}

@media screen and (max-width: 767px) {
  .hero-banner {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .hero-banner__container {
    flex-direction: column;
    padding: 1rem;
  }

  .hero-banner__text-section {
    gap: 0;
  }

  .hero-banner__text-section h1,
  .hero-banner__text-section h2 {
    margin-top: 0;
  }

  .hero-banner__article-meta {
    margin-block-end: 1rem;
    margin-block-start: 0.5rem;
  }

  .hero-banner__eyebrow {
    padding-bottom: 0;
    transform: translateY(-0.5rem);
  }

  .hero-banner__subheader {
    font-size: 18px;
  }

  .hero-banner__subheader > p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .hero-blog-selector__container {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .hero-banner__buttons {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1rem;
  }

  .hero-banner__buttons > span {
    font-size: 16px;
    padding: 0.5rem;
  }

  .hero-banner__buttons a {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-banner__buttons .button--teal {
    border-radius: 12px;
    padding: 0.5rem 3rem;
    text-align: center;
  }

  .hero-banner__buttons .button--transparent {
    border-buttom: 2px inset #00B9BC;
    margin-bottom: 2px;
  }

  .hero-banner__media-section {
    position: unset !important;
    width: 100% !important;
  }

  .hero-banner__media-section.form-section {
    margin-left: -0.5rem;
    position: unset !important;
  }

  .hero-banner__media-section.image-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .hero-banner__logo {
    height: unset;
    max-width: 100%;
    position: unset !important;
    transform: translate(0, 10%) !important;
  }

  .hero-banner__breadcrumb-menu {
    background-color: #EFF3F7;
    flex-wrap: wrap;
    margin-bottom: -5%;
    padding: 0.25rem 1rem;
    transform: translate(-1rem, -45%);
    width: 100vw;
  }
}