{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      {# Button wrapper #}

      {% if module.styles.alignment.alignment %}
        .button-wrapper {
          text-align: {{ module.styles.alignment.alignment.horizontal_align }};
        }
      {% endif %}

      {# Button #}

      {% set buttonBgColor = "#00B9BC" %}
      {% set buttonTextColor = "#2F3C49" %}
      {% set buttonHoverColor = "rgba({{ color_variant(buttonBgColor, -30)|convert_rgb }}, 1)" %}
      {% if module.button_style is equalto("dark") %}
        {% set buttonBgColor = "#0F1E2D" %}
        {% set buttonTextColor = "#fff" %}
        {% set buttonHoverColor = "rgba({{ color_variant(buttonBgColor, 20)|convert_rgb }}, 1)" %}
      {% elif module.button_style is equalto("light") %}
        {% set buttonBgColor = "#FFF" %}
        {% set buttonTextColor = "#2F3C49" %}
        {% set buttonHoverColor = "rgba({{ color_variant(buttonBgColor, -20)|convert_rgb }}, 1)" %}
      {% endif %}

      {% if module.arrow %}
        .button::after {
          color: {{ buttonTextColor }};
          content: "→";
          display: inline;
          padding-left: 4px;
          {{ module.styles.text.font.css }}
        }
      {% else %}
        .button::after {
          content: "";
          padding: 0;
        }
      {% endif %}

      .button {
        {{ module.styles.text.font.css }}
        {{ module.styles.spacing.spacing.css }}

        {% if module.button_type is equalto("standard") %}
          background-color: {{ buttonBgColor }};
          border-color: {{ buttonBgColor }};
          border-radius: 100px;
          color: {{ buttonTextColor }};

        {% endif %}

        {% if module.button_type is equalto("no_bg") %}
          background-color: transparent;
          border-bottom: 3px solid transparent;
          border-left: none;
          border-right: none;
          border-top: none;
          border-radius: 0;

          {% if module.button_transparent is equalto("dark") %}
            color: #0f1e2d;
          {% elif module.button_transparent is equalto("light") %}
            color: #fff;
          {% endif %}
        {% endif %}

        transition: all 0.3s ease;
      }

      .button:hover,
      .button:focus {
        {% if module.button_type is equalto("standard") %}
          background-color: {{ buttonHoverColor }};
          border-color: {{ buttonHoverColor }};
        {% endif %}

        {% if module.button_type is equalto("no_bg") %}
          {% if module.button_transparent is equalto("dark") %}
            border-color: #00b9bc;
          {% elif module.button_transparent is equalto("light") %}
            border-color: #fff;
          {% endif %}
        {% endif %}
      }

      .button:active {
        {% if module.button_type is equalto("standard") %}
          background-color: rgba({{ color_variant(buttonBgColor, -40)|convert_rgb }}, 1);
        {% endif %}

        {% if module.button_type is equalto("no_bg") %}
          {% if module.button_transparent is equalto("dark") %}
            border-color: #00b9bc;
          {% elif module.button_transparent is equalto("light") %}
            border-color: #fff;
          {% endif %}
        {% endif %}
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Sets attributes used for the link field #}

{% set href = module.link.url.href %}
{% if module.link.url.type == "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Button #}

<div class="button-wrapper">
  <a
    class="button"
    href="{{ href }}"
    {% if module.link.open_in_new_tab %}target="_blank"
    {% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"
    {% endif %}
  >
    {{ module.button_text }}
  </a>
</div>
