{% require_css %}
  <style>
    {% scope_css %}

      {# Add teal color to section headers #}

      .contact__form--header > strong,
      .contact__sales--header > strong {
        color: #00b9bc;
      }

      {% if module.sales_section.info.image_shape == "round" %}
        .contact__sales--image {
          border-radius: 50%;
        }
      {% else %}
        .contact__sales--image {
          border-radius: 0;
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="contact">
  <div class="contact__form--section">
    <h2 class="contact__form--header">{{ module.form_section.header }}</h2>
    <div class="contact__form--form">
      {% form
        form_key="contact-form-wide",
        form_to_use="{{ module.form_section.form.form_id }}",
        no_title=True,
        response_redirect_id="{{ module.form_section.form.redirect_id }}",
        response_redirect_url="{{ module.form_section.form.redirect_url }}",
        response_response_type="{{ module.form_section.form.response_type }}",
        response_message="{{ module.form_section.form.message }}",
        gotowebinar_webinar_key="{{ module.form_section.form.gotowebinar_webinar_key }}" %}
    </div>
  </div>

  <div class="contact__sales--section">
    <h2 class="contact__sales--header">{{ module.sales_section.header }}</h2>
    <div class="contact__sales--info">
      <h5>{{ module.sales_section.info.rep_name }}</h5>
      <a>{{ module.sales_section.info.phone }}</a>
      <a>{{ module.sales_section.info.email|first }}</a>
      {% set img = module.sales_section.info.image %}
      {% if img.src %}
        {% set sizeAttrs = "width=\"{{ img.width }}\" height=\"{{ img.height }}\"" %}
        {% set loadingAttr = img.loading != "disabled" ? "loading=\"{{ img.loading }}\"" : "" %}
        <img class="contact__sales--image" src="{{ img.src }}" alt="{{ img.alt }}" {{ loadingAttr }} {{ sizeAttrs }} />
      {% endif %}
    </div>
  </div>
</section>
