.upcoming {
  display: flex;
  flex-direction: column;
  width: clamp(375px, 100%, 600px);
}

.upcoming__table {
  padding: 1rem;
  width: 100%;
}

.upcoming__dates {
  border: none;
}

.upcoming__dates td,
.upcoming__dates th {
  border: none;
  padding: 0.5rem 1.75rem;
  text-align: center;
}