{# Configure date format according to region #}
{% if content.language.languageTag == "en" %}
  {% set dateFormat = "dd.MM.yyyy" %}
  {% set timezone = "Europe/London" %}
{% else %}
  {% set dateFormat = "yyyy-MM-dd" %}
  {% set timezone = "Europe/Berlin" %}
{% endif %}

{% if blog and not is_listing_view %}
  {% set hiddenClass = "hide-for-events-post" %}
{% else %}
  {% set hiddenClass = "" %}
{% endif %}

{% if request.postDict.inpageEditorUI %}
  {% if module.show_module == true %}
    {% set hiddenClass = "" %}
  {% endif %}
{% endif %}

<div class="upcoming {{ hiddenClass }}">
  <div class="upcoming__header">{{ module.header }}</div>
  <div class="upcoming__table">
    <table class="upcoming__dates">
      <tr class="upcoming__dates--header-row">
        <th scope="column">{{ module.start_date_text }}</th>
        <th scope="column">{{ module.end_date_text }}</th>
        <th scope="column">{{ module.location_text }}</th>
      </tr>

      {% for occasion in module.occasion %}

      {# Get date formats to compare to today's date w/ JS & delete elapsed events #}
      {% set data_start_date = occasion.start|format_date("MM/dd/yyyy", "Europe/Stockholm") %}
      {% set data_end_date = occasion.end|format_date("MM/dd/yyyy", "Europe/Stockholm") %}

      <tr class="upcoming__dates--occasion" data-start-date="{{ data_start_date }}">
        <td>{{ occasion.start|format_date(dateFormat, timezone) }}</td>
        <td>{{ occasion.end|format_date(dateFormat, timezone) }}</td>
        <td>{{ occasion.location }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
