.products-cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: 4rem 0;
  width: 100%;
}

.products-cta h2 {
  text-align: center;
  width: clamp(340px, 100%, 740px);
}

.products-cta__item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem;
  width: clamp(375px, 90%, 1440px);
}

.products-cta__text-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

.products-cta__text-section > span {
  color: #525E6A;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.products-cta__text-section > h3 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.products-cta__media--video {
  height: 270px;
  width: 480px;
}

@media screen and (max-width: 767px) {
  .products-cta {
    padding: 2.5rem 0;
  }

  .products-cta__item {
    padding: 0;
    flex-direction: column;
  }

  .products-cta__text-section {
    padding: 0.75rem;
    width: 100%;
  }

  .products-cta__text-section > h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .products-cta__media-section {
    padding: 0 0.5rem 0.5rem;
    max-width: 100%;
  }

  .products-cta__media--image {
    object-fit: contain;
    width: 100%;
  }
}