{# Header nav menu card #}

{% macro headerCard(title, size, href,
sub="",
features=[],
image=null) %}

  {% if sub == "" %}
    {% set subtitle = "" %}
  {% else %}
    {% set subtitle = sub %}
  {% endif %}

  {% set title_string = title|string|lower|split(" ", 3) %}
  {% set title_class = title_string.pop(0) %}

  <a class="header-card header-card__{{ size }}" href="{{ href }}">
    <ul class="header-card__content--{{ size }}">
      <li class="header-card__title header-card__title--{{ title_class }}">
        {% if image is mapping %}
          <img width="{{ image.width }}" src="{{ image.src }}" />
        {% endif %}
        <span>{{ title }}</span>
      </li>
      <li class="header-card__subtitle--{{ size }}">
        <span>{{ subtitle }}</span>
      </li>
      {% if (features|length > 0) and (size == "large") %}
        {% for feature in features %}
        <li class="header-card__feature">
          {{ feature }}
        </li>
        {% endfor %}
      {% endif %}
    </ul>
  </a>

{% endmacro %}

{# Breadcrumb Menu & Translation Overrides #}

{% macro createBreadcrumbMenu(
isBreadcrumb=true,
menuClass="") %}
  {% set breadCrumbs = request.path|split("/") %}
  {% if content.language.details.tag != "en" %}
    {% do breadCrumbs.pop(0) %}
  {% endif %}

  <ol class="{{ menuClass }}__breadcrumb-menu breadcrumb-menu">
    {% for crumb in breadCrumbs %}
    {% set pageNameArr = crumb|split("-") %}
    {% set pageName = pageNameArr|map("capitalize")|join(" ") %}

    <li class="breadcrumb__menu-item {{ "active-page" if loop.last }}">
      {% unless loop.last %}
        <a href="/{{ crumb }}">{{ pageName }}</a>
      {% else %}
        <span>{{ pageName }}</span>
      {% endunless %}
    </li>
    {% endfor %}
  </ol>

{% endmacro %}

{# Interpolate page path & translate hardcode markup #}

{% macro interpolatePath(
includeLangOpts=true) -%}
  {% set localeCode = locale_name(locale)|split(" ")|first|lower %}

  {% if includeLangOpts %}
    {% set langCode = localeCode %}
    {% if langCode == "svenska" %}
      {% set joiningWord = "eller" %}
    {% elif langCode == "deutsch" %}
      {% set joiningWord = "oder" %}
    {% else %}
      {% set joiningWord = "or" %}
    {% endif %}
    {{ joiningWord }}
  {% endif %}

  {% set pageName = reqPath|last|split("-")|map("capitalize")|join(" ") %}
  {{ pageName }}

{%- endmacro %}
