{# Import language glossaries #}
{% import "../../utils/i18n/english.html" as english %}
{% import "../../utils/i18n/svenska.html" as swedish %}

{# Header nav menu card #}

{% macro headerCard(title, size, href,
sub="",
features=[],
image=null) %}

  {% if sub == "" %}
    {% set subtitle = "" %}
  {% else %}
    {% set subtitle = sub %}
  {% endif %}

  {% set title_string = title|string|lower|split(" ", 3) %}
  {% set title_class = title_string.pop(0) %}

  <a class="header-card header-card__{{ size }}" href="{{ href }}">
    <ul class="header-card__content--{{ size }}">
      <li class="header-card__title header-card__title--{{ title_class }}">
        {% if image is mapping %}
          <img width="{{ image.width }}" src="{{ image.src }}" alt="{{ image.alt or "card-icon" }}" />
        {% endif %}
        <span>{{ title }}</span>
      </li>
      <li class="header-card__subtitle--{{ size }}">
        <span>{{ subtitle }}</span>
      </li>
      {% if (features|length > 0) and (size == "large") %}
        {% for feature in features %}
        <li class="header-card__feature">
          {{ feature }}
        </li>
        {% endfor %}
      {% endif %}
    </ul>
  </a>

{% endmacro %}

{# Breadcrumb Menu & Translation Overrides #}

{% macro createBreadcrumbMenu(
isBreadcrumb=true,
menuClass="") %}
  {% set breadCrumbs = request.path|split("/") %}
  {% if content.language.details.tag != "en" %}
    {% do breadCrumbs.pop(0) %}
  {% endif %}

  <ol class="{{ menuClass }}__breadcrumb-menu breadcrumb-menu">
    {% for crumb in breadCrumbs %}
    {% set pageNameArr = crumb|split("-") %}
    {% set pageName = pageNameArr|map("capitalize")|join(" ") %}

    <li class="breadcrumb__menu-item {{ "active-page" if loop.last }}">
      {% unless loop.last %}
        <a href="/{{ crumb }}">{{ pageName }}</a>
      {% else %}
        <span>{{ pageName }}</span>
      {% endunless %}
    </li>
    {% endfor %}
  </ol>

{% endmacro %}

{# Interpolate page path & translate hardcode markup #}

{% macro interpolatePath(
includeLangOpts=true) -%}
  {% set localeCode = locale_name(locale)|split(" ")|first|lower %}

  {% if includeLangOpts %}
    {% set langCode = localeCode %}
    {% if langCode == "svenska" %}
      {% set joiningWord = "eller" %}
    {% elif langCode == "deutsch" %}
      {% set joiningWord = "oder" %}
    {% else %}
      {% set joiningWord = "or" %}
    {% endif %}
    {{ joiningWord }}
  {% endif %}

  {% set pageName = reqPath|last|split("-")|map("capitalize")|join(" ") %}
  {{ pageName }}

{%- endmacro %}

{% macro related_events(post, count, total) %}
  {% if content.language.language == "en" %}
    {% set lang = english %}
  {% elif content.language.language == "sv" %}
    {% set lang = swedish %}
  {% endif %}

  {% set parentBlog = blog_by_id(group.id) %}
  {% set sectionHeader = lang.discover ~ " {{ parentBlog.htmlTitle }}" %}
  {% set readmoreText = lang.readmore %}

  {% if count == 1 %}
    <section class="blog-related-posts">
      <h2>{% text "related-posts"
            noWrapper=True,
            label="Learn More Section Header",
            value="{{ context.value or sectionHeader }}" %}</h2>
      <div class="blog-related-posts__list">
      {% endif %}
      <article
        class="blog-related-posts__post events"
        aria-label="Blog post summary: {{ post.name }}"
      >
        <a
          class="blog-related-posts__post-link"
          href="{{ post.absolute_url }}"
          aria-label="{% if post.featured_image_alt_text %} Featured image: {{ post.featured_image_alt_text }} - {% endif %}Read full post: {{ post.name }}"
        ></a>
        {% if post.featured_image %}
          <img
            class="blog-related-posts__image"
            src="{{ post.featured_image }}"
            loading="lazy"
            width="180"
            alt="{{ post.featured_image_alt_text }}"
          />
        {% endif %}
        <div class="blog-related-posts__content">
          <div class="blog-index__event-details">
            {% set location = post.widgets|string|split("location=")|last|split(",")|first %}
            <span class="blog-index__event--location" data-location="{{ location }}">
              {% set locationIcon = get_asset_url("../images/module-icons/location_icon_dark_petrol_30.png") %}
              <img
                src="{{ get_asset_url("../images/module-icons/location_icon_dark_petrol_30.png") }}"
                alt="location icon dark petrol"
                loading="lazy"
                width="30"
                class="blog-index__event-details--img"
              />
              {{ location }}
            </span>
            {% set unformatted = post.widgets|string|split("start=")|last|split("}")|first %}
            <span class="blog-index__event--date" data-date="{{ unformatted }}">
              <img
                src="{{ get_asset_url("../images/module-icons/scheduling_icon_dark_petrol_30.png") }}"
                alt="scheduling icon dark petrol"
                loading="lazy"
                width="28"
                class="blog-index__event-details--img"
              />
            </span>
          </div>

          {% if post.tag_list|length > 0 %}
            <div class="blog-index__post-tags">
              <span class="blog-index__post-tag">{{ post.tag_list|first }}</span>
            </div>
          {% endif %}

          <h3 class="blog-related-posts__title">
            {{ post.name }}
          </h3>

          {% if post.name|length > 44 %}
            {% set charsToTruncate = 68 %}
          {% else %}
            {% set charsToTruncate = 100 %}
          {% endif %}

          {{ post.post_summary|truncatehtml(charsToTruncate, "...", false) }}

          <a class="blog-related-posts__readmore-link" href="{{ post.absolute_url }}"
            >{{ readmoreText }}</a
          >
        </div>
      </article>
      {% if count == total %}
      </div>
    </section>
  {% endif %}
{% endmacro %}

{# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}

{% macro related_posts(post, count, total) %}
  {% if content.language.language == "en" %}
    {% set lang = english %}
  {% elif content.language.language == "sv" %}
    {% set lang = swedish %}
  {% endif %}

  {% set parentBlog = blog_by_id(group.id) %}
  {% set sectionHeader = lang.discover ~ " {{ parentBlog.htmlTitle }}" %}
  {% set readmoreText = lang.readmore %}

  {% if count == 1 %}
    <section class="blog-related-posts">
      <h2>{% text "related-posts"
            noWrapper=True,
            label="Learn More Section Header",
            value="{{ context.value or sectionHeader }}" %}</h2>
      <div class="blog-related-posts__list">
      {% endif %}
      <article
        class="blog-related-posts__post"
        aria-label="Blog post summary: {{ post.name }}"
      >
        <a
          class="blog-related-posts__post-link"
          href="{{ post.absolute_url }}"
          aria-label="{% if post.featured_image_alt_text %} Featured image: {{ post.featured_image_alt_text }} - {% endif %}Read full post: {{ post.name }}"
        ></a>
        {% if post.featured_image %}
          <img
            class="blog-related-posts__image"
            src="{{ post.featured_image }}"
            loading="lazy"
            width="180"
            alt="{{ post.featured_image_alt_text }}"
          />
        {% endif %}

        <div class="blog-related-posts__content">
          <h3 class="blog-related-posts__title">
            {{ post.name }}
          </h3>
          {{ post.post_summary|truncatehtml(84, "...", false) }}
          <a class="blog-related-posts__readmore-link" href="{{ post.absolute_url }}"
            >{{ readmoreText }}</a
          >
        </div>
      </article>
      {% if count == total %}
      </div>
    </section>
  {% endif %}
{% endmacro %}
