{# Module variables #}
{% set currency = module.currency %}
{% set currencyChoices = ["euro", "sek", "gbp"] %}
{% if currency == "euro" %}
  {% set currencySymbol = "€" %}
{% elif currency == "gbp" %}
  {% set currencySymbol = "£" %}
{% else %}
  {% set currencySymbol = "sek" %}
{% endif %}

{# Module styles #}
{% require_css %}
  <style>
    {% scope_css %}

      {### Prices card styles ###}

      {# Dynamically add Y-translate to section #}
      .prices-section {
        transform: translateY(-{{ module.translate }}%);
        {% if module.translate > 0 %}
          margin-bottom: {{ module.translate / -2 }}%;
        {% endif %}
      }

      @media screen and (max-width: 767px) {
        .prices-section {
          transform: translateY(0);
          margin-bottom: 0;
        }
      }

      {# Add colored border to promoted price tier #}
      .price-card__card {
        background-color: #FFF;
        border: 2px solid transparent;
      }

      .price-card__price > strong {
        color: #00b9bc;
        font-weight: 700;
      }

      {% for card in module.card %}
      {% if card.promote == true %}
        .price-card__card.promoted {
          border-color: {{ module.styles.card.promo.color }};
          margin-top: 0.5rem;
        }
      {% endif %}
      {% endfor %}

      .price-card__features--feature {
        color: #00b9bc;
      }

      .price-card__features--feature > span {
        color: #0f1e2d;
      }

      .price-card__button-container {
        border-top: 2px solid #dfe4e9;
        width: 100%;
      }

      {# Replace with style fields if user control is desired #}
      {% set buttonBgCol = "#00B9BC" %}
      {% set buttonTextCol = "#2F3C49" %}

      .price-card__button {
        background-color: {{ buttonBgCol }};
        color: {{ buttonTextCol }};
        transition: all 0.3s ease-in-out;
      }

      .price-card__button:hover {
        background-color: {{ color_variant(buttonBgCol, -20) }};
        color: {{ color_variant(buttonTextCol, 20) }};
      }

      {# Optional promotional emphasis styles #}
      .price-card__promo-text {
        background-color: {{ module.styles.card.promo.color }};
        color: #FFF;
      }

      {### Card section description styles ###}

      {% if module.styles.description_color %}
        {% set descTextColor = module.styles.description_color.color %}
      {% else %}
        {% set descTextColor = "#57616C" %}
      {% endif %}
      .prices-section__description > p {
        color: {{ descTextColor }};
        font-size: 14px;
        line-height: 24px;
        margin: 0;
        padding: 0;
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Price card section #}
<section class="prices-section">
  {# Currency selector #}
  <div class="currency-selector">
    <ul class="currency-selector__choices">
      {% for choice in currencyChoices %}
      {% if choice == "gbp" %}
        {% set currencyHref = content.translated_content['en'].absolute_url|last %}
        {% set currencySymbol = "£" %}
        {% set month = 'month' %}  
      {% elif choice == "euro" %}
        {% set currencyHref = content.translated_content['de'].absolute_url|last %}
        {% set currencySymbol = "€" %}
        {% set month = "monart" %}
      {% elif choice == "sek" %}
        {% set currencyHref = content.translated_content['sv'].absolute_url|last %}
        {% set currencySymbol = "sek" %}
        {% set month = "månad" %}
      {% endif %}
        <li class="currency-selector__choices--choice {{ "selected" if choice == module.currency }}">
          <a class="hs-skip-lang-url-rewrite" href="{{ currencyHref }}">{{ choice }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {# Price tier cards #}
  <div class="price-card__container">
    {% for card in module.card %}
      <card class="price-card__card {{"promoted" if card.promote == true}}">
        {% if card.promote == true and card.emphasis != "" %}
          <span class="price-card__promo-text">{{ card.emphasis }}</span>
        {% endif %}
        <h4 class="price-card__tier">{{ card.tier }}</h4>
        <h2 class="price-card__price {{ "use-text" if card.use_text == true }}">
          {% if card.use_text == false %}
            {{ currencySymbol if currency != "sek" }}{{ card.price }}<strong>&nbsp;{{ currencySymbol if currency == "sek" }} / {{ month }}</strong>
          {% else %}
            {{ card.price_info }}
          {% endif %}
        </h2>
        <ul class="price-card__features">
          {% for feature in card.features %}
            <li class="price-card__features--feature">
              <img width="{{ card.feature_icon.width }}" src="{{ card.feature_icon.src }}" />
              <span>{{ feature }}</span>
            </li>
          {% endfor %}
        </ul>
        <div class="price-card__button-container">
          <a class="price-card__button" href="{{ card.button_link.url.href }}">{{ card.button_text }}</a>
        </div>
      </card>
    {% endfor %}
  </div>

  {# Price tiers description #}
  {% if module.description != null or module.description != "" %}
    <div class="prices-section__description">
      <p>{{ module.description }}</p>
    </div>
  {% endif %}

</section>
