{% require_css %}
  <style>
    {% scope_css %}

      {# Add styles based on choice of background colour #}

      {% if module.background_type == "purple" %}
        {% set backgroundColor = "#6734FF" %}
        {% set textColor = "#FFFFFF" %}
        {% set boldColor = "#C2ADFF" %}
        {% set buttonColor = "#00B9BC" %}
        {% set buttonText = "#2F3C49" %}
      {% endif %}

      {% if module.background_type == "teal" %}
        {% set backgroundColor = "#00A5A8" %}
        {% set textColor = "#0F1E2D" %}
        {% set boldColor = "#FFFFFF" %}
        {% set buttonColor = "#0F1E2D" %}
        {% set buttonText = "#FFFFFF" %}
      {% endif %}

      .newsletter-signup__section {
        background-color: {{ backgroundColor }};
      }

      .newsletter-signup__text--header,
      .newsletter-signup__text--description {
        color: {{ textColor }};
        margin: 0;
      }

      .newsletter-signup__text--header > strong {
        color: {{ boldColor }};
        font-weight: inherit;
      }

      .newsletter-signup__form .hs-form-booleancheckbox p {
        color: {{ textColor }};
      }

      .newsletter-signup__form .hs-form-required {
        display: none;
      }

      .newsletter-signup__form input[type="submit"] {
        background-color: {{ buttonColor }};
        color: {{ buttonText }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="newsletter-signup__section">
  <div class="newsletter-signup__text">
    <h2 class="newsletter-signup__text--header">{{ module.header }}</h2>
    <span class="newsletter-signup__text--description"
      >{{ module.description }}</span
    >
  </div>
  <div class="newsletter-signup__form">
    {% if module.include_title and module.form_title != "" %}
      {{ module.form_title }}
    {% endif %}
    {% form
      form_key="newsletter-email-form",
      form_to_use="{{ module.form.form_id }}",
      no_title=True,
      response_redirect_url="{{ module.form.redirect_url }}",
      response_redirect_id="{{ module.form.redirect_id }}",
      response_response_type="{{ module.form.response_type }}",
      response_message="{{ module.form.message }}",
      gotowebinar_webinar_key="{{ module.form.gotowebinar_webinar_key }}" %}
  </div>
</section>
