.newsletter-cta {
  background-color: #6734FF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.col {
  height: 80%;
}

.col .text {
  display: flex;
  flex-direction: column;
}

.col .form form {
  display: flex;
}

.col .form input {
  border-radius: 8px;
}