.newsletter-signup__section {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.5rem 3rem;
  width: clamp(320px, 100%, 1240px);
}

.newsletter-signup__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.newsletter-signup__form h4 {
  padding-left: 10.5%;
}

.newsletter-signup__form form {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 0;
}

.newsletter-signup__form label {
  display: none;
}

.newsletter-signup__form form > .hs-button {
  border-radius: 0 4px 4px 0;
}

.newsletter-signup__form form > .hs-email {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.newsletter-signup__form input[type='email'] {
  border-radius: 4px 0 0 4px;
  margin-bottom: 1rem;
  padding-bottom: 12px;
  padding-top: 12px;
}

.newsletter-signup__form input[type='submit'] {
  border-radius: 0 4px 4px 0;
}