{% from "../../utils/macros.html" import interpolatePath %}

{% require_css %}
  <style>
    {% scope_css %}

      {# Main background colors #}
      .hero-banner {
        background-color: #eff3f7;
      }

      {# Header Styles #}

      .hero-banner__header > strong,
      .hero-banner__logo-section--text > strong {
        color: #00b9bc;
      }

      {# Logo section styles #}

      {% if module.styles.background_color.color == "#0F1E2D" %}
        .hero-banner__logo-section {
          background-color: {{ module.styles.background_color.color }};
        }

        .hero-banner__logo-section--text {
          color: #ffffff;
          text-transform: uppercase;
        }
      {% endif %}

      {# Add Download Icon to Submit Button #}
      {% set downloadIcon = "../../images/module-icons/download-icon-black.png" %}

      #manual-hero-banner form .actions {
        align-items: center;
        background-color: #00b9bc;
        border: 2px solid transparent;
        border-radius: 6.25rem;
        display: flex;
        filter: brightness(1);
        height: fit-content;
        justify-content: center;
        padding: 0.4rem 2rem;
        width: fit-content;
      }

      #manual-hero-banner form .actions:after {
        background: url("{{ get_asset_url(downloadIcon) }}") no-repeat;
        content: "";
        display: inline-block;
        height: 2rem;
        margin-left: 6px;
        padding: 6px;
        width: 2rem;
      }

      #manual-hero-banner form .actions:hover {
        border-color: #00b9bc;
        cursor: pointer;
        filter: brightness(0.85);
      }

      #manual-hero-banner form input[type="submit"] {
        background-color: transparent;
        border: none;
        padding: 4px 4px 0;
      }

      #manual-hero-banner form input[type="submit"]:hover {
        background-color: transparent;
        border: none;
      }

      {# Add chevron to breadcrumb menu #}
      {% set chevronPath = "../../images/module-icons/breadcrumbs-chevron.png" %}
      .breadcrumb__menu-item:not(.active-page):after {
        background: url("{{ get_asset_url(chevronPath) }}") no-repeat;
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        transform: translateY(22.5%);
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{% set pageName = interpolatePath(false) %}

<section class="hero-banner" id="manual-hero-banner">
  <div class="hero-banner__container">

  <div class="hero-banner__text-section">
    {% if module.breadcrumb|length > 0 %}
      <ol class="hero-banner__breadcrumb-menu breadcrumb-menu">
        {% for crumb in module.breadcrumb %}
        <li class="breadcrumb__menu-item">
          <a href="{{ crumb.link.url.href }}">{{ crumb.text }}</a>
        </li>
        {% endfor %}
        <li class="breadcrumb__menu-item active-page">
          <span>{{ pageName }}</span>
        </li>
      </ol>
    {% endif %}
    {% if module.eyebrow != "" %}
      <span class="hero-banner__eyebrow">{{ module.eyebrow }}</span>
    {% endif %}
    <h1 class="hero-banner__header">{{ module.header }}</h1>
    <p class="hero-banner__subheader">{{ module.subheader }}</p>
    {% set form = module.form %}
    {% form
      form_key="download-manual-form",
      form_to_use="{{ form.form_id }}",
      no_title=True,
      response_redirect_url="{{ form.redirect_url }}",
      response_redirect_id="{{ form.redirect_id }}",
      response_response_type="{{ form.response_type }}",
      response_message="{{ form.message }}",
      gotowebinar_webinar_key="{{ form.gotowebinar_webinar_key }}" %}
  </div>
  <div class="hero-banner__logo-section">
    {% set logo = module.logo %}
    {% if logo.src %}
      {% set sizeAttrs = "width=\"{{ logo.width }}\" height=\"{{ logo.height }}\"" %}
      {% set loadingAttrs = logo.loading != "disabled" ? "loading=\"{{ logo.loading }}\"" : "" %}
      <img
        class="hero-banner__logo-section--logo"
        src="{{ logo.src }}"
        alt="{{ logo.alt }}"
        {{ loadingAttr }}
        {{ sizeAttrs }}
      />
    {% endif %}
      <h4 class="hero-banner__logo-section--text">{{ module.header }}</h4>
  </div>

  </div>
</section>
