.dnd-section > .row-fluid:has(#hero-banner),
.dnd-section > .row-fluid:has(#manual-hero-banner) {
  max-width: 1440px;
}

.hero-banner {
  display: flex;
  margin: 0 auto;
  padding: 2.5rem 6.25rem;
  width: 1440px;
}

.hero-banner#manual-hero-banner {
  min-height: 406px;
  max-height: 640px;
  position: relative;
}

#manual-hero-banner form {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  padding: 1rem 0.5rem 1rem 0;
}

#manual-hero-banner form > .hs-email {
  margin-bottom: 0;
}

#manual-hero-banner form .hs-input[type='email'] {
  border-width: 2px;
  font-size: 1rem;
  padding: 0.9rem 0.7rem;
  width: 22rem;
}

#manual-hero-banner form .hs-email > label {
  display: none;
}

.hero-banner__text-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem 0 0;
  width: clamp(320px, 57%, 705px);
}

.hero-banner__header {
  margin: 0;
}

.hero-banner__subheader {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

.hero-banner__breadcrumb {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.hero-banner__buttons {
  align-items: center;
  display: flex;
  max-height: 3rem;
}

.hero-banner__buttons a {
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.hero-banner__buttons .button--transparent {
  background-color: transparent;
  border-bottom: 2px inset transparent;
  color: #0F1E2D;
  padding: 0;
  transform: translateY(7.5%);
}

.hero-banner__buttons .button--transparent:hover {
  border-color: #00B9BC;
}

.hero-banner__buttons .button--teal {
  background-color: #00B9BC;
  border-radius: 24px;
  color: #0F1E2D;
  filter: brightness(1);
  padding: 0.7rem 2.5rem;
}

.hero-banner__buttons .button--teal:hover {
  filter: brightness(0.9);
}

.hero-banner__buttons .button--dark {
  background-color: #2F3C49;
  border-radius: 24px;
  color: #FFFFFF;
  filter: brightness(1);
  padding: 0.7rem 2.5rem;
}

.hero-banner__buttons .button--dark:hover {
  filter: brightness(1.1);
}

.hero-banner__buttons > span {
  padding: 1rem;
}

.hero-banner__logo {
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-25%, -45%);
  max-width: 495px;
}

.hero-banner__logo-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 92%;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(25%, -33.3%);
  width: clamp(340px, 40%, 540px);
}

.hero-banner__logo-section--text {
  font-size: 30px;
  margin-bottom: 0;
}