{% require_css %}
  <style>
    {% scope_css %}

    {# Background image #}

    .teams-menu__container {
      {% if module.background_image.src %}
        background: url("{{ module.background_image.src }}") no-repeat;
        background-size: cover;
      {% else %}
        background: #0F1E2D;
      {% endif %}
        padding: 3.5rem 6.5rem; 
    }

    {% set menuItemIconUrl = "../../images/module-icons/process-icon-white.png" %}
    {% set menuItemIconHover = "../../images/module-icons/process-icon-teal.png" %}
    {% set width = 40 ~ "px" %}
    {% set height = 20 ~ "px" %}
    {% for item in module.menu_items %}
      {% if item.category.icon.src %}
        {% set menuItemIconUrl = item.category.icon.src %}
      {% endif %}
      {% if item.category.hover_icon.src %}
        {% set menuItemIconHover = item.category.hover_icon.src %}
      {% endif %}
      {% if item.category.icon.width %}
        {% set width = item.category.icon.width ~ "px" %}
      {% endif %}
      {% if item.category.icon.height %}
        {% set height = item.category.icon.height ~ "px" %}
      {% endif %}

      .teams-menu__menu--item:nth-child({{ loop.index }})::before {
        background: url("{{ menuItemIconUrl }}") no-repeat;
        content: '';
        display: block;
        height: 32px;
        padding-right: 0.5rem;
        transition: all 0.1s ease;
        width: {{ width }};
      }

      .teams-menu__menu--item:nth-child({{ loop.index }}):hover::before {
        background: url("{{ menuItemIconHover }}") no-repeat;
        content: '';
        display: block;
        height: 32px;
        padding-right: 0.5rem;
        transition: all 0.1s ease;
        width: {{ width }};
      }

      {% for case in item.cases %}
        {% if case.logo.max_width %}
          {% set maxWidth = case.logo.max_width ~ "px" %}
        {% else %}
          {% set maxWidth = 140 ~ "px" %}
        {% endif %}

        .teams-menu__cases--logo {
          max-width: {{ maxWidth }};
          padding-bottom: 8px;
        }
      {% endfor %}

    {% endfor %}

      {% set arrowIconUrl = "../../images/module-icons/arrow-right-black.png" %}
      .teams-menu__menu--item span::after {
        background: url("{{ get_asset_url(arrowIconUrl) }}") no-repeat;
        content: '';
        display: block;
        height: 16px;
        justify-self: flex-end;
        opacity: 0;
        transition: opacity 0.3s ease;
        width: 16px;
      }

      .teams-menu__menu--item:hover span::after {
        opacity: 1;
      }


    {% end_scope_css %}
  </style>
{% end_require_css %}


<!-- module html  -->

<div class="teams-menu__container">
  <h2 class="teams-menu__header">{{ module.header }}</h2>

  <div class="teams-menu__content">
    <ul class="teams-menu__menu">
      {% for item in module.menu_items %}

        <li class="teams-menu__menu--item item--{{ loop.index }}">
          <span>{{ item.category.title }}</span>
        </li>
      {% endfor %}
    </ul>
    {% for item in module.menu_items %}
    <ul class="teams-menu__cases cases--{{ loop.index }} {{ "show" if loop.index == 1 }}">
      {% for case in item.cases %}

        {% if case.link.url.type == "CONTENT" and case.link.url.content_id %}
          {% set content = content_by_id(case.link.url.content_id) %}
          {% set linkHref = content.absolute_url %}
        {% else %}
          {% set linkHref = case.link.url.href %}
        {% endif %}

        <li class="teams-menu__cases--case">
          <img class="teams-menu__cases--logo" width="{{ case.logo.max_width }}" src="{{ case.logo.src }}" />
          <span class="teams-menu__cases--quote" >"{{ case.quote }}"</span>
          <span class="teams-menu__cases--attribution">{{ case.attribution }}</span>
          <a class="teams-menu__cases--link" href="{{ linkHref }}">{{ case.link.text }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
