.teams-menu__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem 6.5rem;
}

.teams-menu__header {
  color: #FFFFFF;
  padding: 0 18rem 1rem;
}

.teams-menu__header > strong {
  color: #00B9BC;
}

.teams-menu__content {
  display: flex;
  width: 100%;
}

.teams-menu__content > ul {
  list-style: none;
}

.teams-menu__menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: clamp(320px, 29%, 350px);
}

.teams-menu__menu--item {
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(184, 193, 201, 0.5);
  border-radius: 4px;
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
  width: 100%;
}

.teams-menu__menu--item span {
  align-items: center;
  color: #FFFFFF;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.teams-menu__menu--item:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: pointer;
}

.teams-menu__menu--item:hover span {
  color: #0F1E2D;
}

.teams-menu__cases {
  padding-left: 6em;
  width: clamp(320px, 50%, 600px);
}

.teams-menu__cases {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.teams-menu__cases--case {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.teams-menu__cases--case:not(:last-child) {
  border-bottom: 1px solid #5B7187;
  padding-bottom: 1.5rem;
}

.teams-menu__cases--case:last-child {
  padding-top: 1.5rem;
}

.teams-menu__cases--quote,
.teams-menu__cases--attribution {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
}

.teams-menu__cases--quote {
  font-style: italic;
}

.teams-menu__cases--attribution {
  font-weight: 600;
  padding-bottom: 8px;
}

.teams-menu__cases--link {
  border-color: #00B9BC;
  color: #00B9BC;
  transition: all 0.3s ease-in-out;
}

.teams-menu__cases--link:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
}