/* Blog Post Template Container - Child Module Overrides */

.body-container--blog-post .newsletter-signup__section {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .body-container--main-blog .dnd_area-row-2-max-width-section-centering > .row-fluid {
    max-width: 1440px !important;
  }

  .body-container--main-blog .blog-index__post-title--small {
    line-height: 25px;
  }
}

/* Blog post */

.blog-post {
  margin: 0 auto;
  max-width: 980px;
}

.blog-post__meta {
  margin-bottom: 1.4rem;
}

.blog-post__meta a {
  text-decoration: underline;
}

.blog-post__timestamp {
  display: block;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 0.35rem;
  width: 15px;
}

.blog-post__tag-link {
  font-size: 0.875rem;
}

/* Blog related posts */

.blog-related-posts {
  background-color: inherit;
}

.blog-related-posts h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.blog-related-posts__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 1.5rem;
  width: clamp(390px, 100%, 1440px);
}

.blog-related-posts__post {
  display: flex;
  flex: 0 0 49%;
  position: relative;
  transition: all 0.2s ease;
}

.blog-related-posts__post:nth-child(2n) {
  margin-left: 1.75%;
}

/* @media screen and (min-width: 768px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 3);
  }
} */

.blog-related-posts__content {
  border: 1px solid #DFE4E9;
  border-left: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 226px;
  justify-content: space-between;
  padding: 3% 4%;
  transition: border-color 0.2s ease;
  width: calc(100% - 180px);
}

.blog-related-posts__post.events .blog-related-posts__content {
  gap: 0.25rem;
  padding: 1% 4% 2%;
}

.blog-index__event-details {
  display: flex;
  gap: 2.5rem;
  padding: 0.5rem 0 0;
  transform: translateX(-8px);
}

.blog-index__event-details > span {
  align-items: center;
  color: rgb(15 30 45 / 80%);
  display: flex;
  font-weight: 600;
  padding: 0.25rem 0 0;
}

.blog-index__event--location {
  gap: 6px;
}

.blog-index__event--date {
  gap: 10px;
}

.blog-index__event-details--img {
  transform: translateY(-1px);
}

.blog-index__post-tag {
  color: #525E6A;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.blog-related-posts__content h2,
.blog-related-posts__content h3:not(.blog-related-posts__title) {
  display: none;
}

.blog-related-posts__content p {
  margin-bottom: 0;
}

.blog-related-posts__post.events .blog-related-posts__content p {
  line-height: 24px;
}

.blog-related-posts__post-link {
  display: block;
  height: 100%;
  opacity: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  width: 95%;
}

.blog-related-posts__post-link:hover .blog-related-posts__readmore-link,
.blog-related-posts__image:hover .blog-related-posts__readmore-link,
.blog-related-posts__content:hover > a {
  background-color: transparent;
  border-color: #00B9BC;
  color: #396D78;
  filter: brightness(0.9);
}

.blog-related-posts__image {
  border: 1px solid #DFE4E9;
  border-radius: 2px;
  border-right: none;
  object-fit: contain;
  transition: border-color 0.2s ease;
}

.blog-related-posts__post.events .blog-related-posts__image {
  border: none;
  border-radius: 0;
  object-fit: none;
}

.blog-related-posts__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: none;
}

.blog-related-posts__readmore-link {
  border-bottom: 2px solid transparent;
  color: #396D78;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
  width: fit-content;
}

.blog-related-posts__post:hover .blog-related-posts__content {
  border-color: #A6A6A6;
}

.blog-related-posts__post:hover .blog-related-posts__image {
  border-color: #A6A6A6;
}

.blog-related-posts__post:hover .blog-related-posts__readmore-link {
  border-color: #00B9BC;
  color: #396D78;
  filter: brightness(0.9);
}

.blog-related-posts__readmore-link:hover {
  border-color: #00B9BC;
  color: #396D78;
  filter: brightness(0.9);
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}

.teal {
  color: #00B9BC;
}

/* Table of contents */

.toc__section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 9% auto 1%;
  width: clamp(360px, 100%, 1240px);
}

.toc__section-header h2 {
  margin: 0;
}

/* Page CTA sections */

.blog-post__cta {
  display: flex;
  margin: 3rem auto;
  width: clamp(360px, 100vw, 1440px);
}

.blog-post__cta--single {
  width: 50%;
}

/* Simple Blog Post */

.simple-post__container {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 7.3%;
  margin: 2.5rem auto 2rem;
  width: 101%;
}

.simple-post__container > article {
  grid-column: 1 / span 7;
  grid-row: 1;
  padding: 0 1rem 3rem 3rem;
}

/* .simple-post__container > .richtext-col-2 {
  grid-column: 8 / span 5;
  grid-row: 1;
} */

.simple-post__container > div[data-global-resource-path*='global-richtext'] {
  grid-column: 8 / span 5;
  grid-row: 1;
}

.simple-post__container .blog-post__meta {
  display: none;
}

.simple-blog-post__post-body {
  margin-bottom: 2.5rem;
  padding: 0 1rem;
}

.simple-blog-post__author {
  display: flex;
  gap: 1.5rem;
  margin-block-start: 2.5rem;
  margin-block-end: 1rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: unset;
}

.simple-blog-post__author-image {
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.simple-blog-post__author-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 365px;
  width: 75%;
}

.simple-blog-post__author-info > span {
  color: #525D69;
  font-size: 14px;
  text-transform: uppercase;
}

.simple-blog-post__author-info > h4 {
  margin-bottom: 0.5rem;
}

.simple-blog-post__author-info > p {
  color: #525E6A;
  line-height: 18px;
  margin-bottom: 0.5rem;
}

.simple-blog-post__author-social {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.simple-blog-post__author-social.no-social {
  display: none;
}

.author-bio--mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .simple-post__container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .simple-post__container > article {
    padding: 0 0 1.5rem;
  }

  .simple-blog-post__post-body {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  .simple-blog-post__post-body > .hs_cos_wrapper_type_rich_text {
    padding: 0.5rem !important;
  }

  .simple-blog-post__post-body p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .simple-blog-post__author {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 80px repeat(4, 1fr);
    grid-auto-rows: auto;
    margin-block-start: 1.5rem;
    margin-inline-start: unset;
    padding: 0.5rem;
    row-gap: 1.5rem;
  }

  .simple-blog-post__author-image {
    grid-row: 1;
    grid-column: 1;
  }

  .simple-blog-post__author-info {
    grid-row: 1;
    grid-column: 2 / -1;
    justify-content: center;
    min-width: unset;
    /* width: 100%; */
  }

  .simple-blog-post__author-info h4 {
    margin: 0;
  }

  .simple-blog-post__author-info p,
  .simple-blog-post__author-info ul {
    display: none;
  }

  .author-bio--mobile {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

/* Customer Stories Blog Posts */

.customer-stories__container:has(.logo-box__container) {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 7.3%;
  margin: 2rem auto;
  width: 101%;
}

.customer-stories__container {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}

.customer-stories__container > article {
  border-bottom: 2px solid #DFE4E9;
  margin: 0;
}

.customer-stories__container:has(.logo-box__container) > article {
  grid-column: 1 / span 7;
  grid-row: 1;
  padding: 0 0 3rem;
}

.customer-stories__container:not(:has(.logo-box__container)) > article {
  max-width: 100%;
}

.customer-stories__container > div:has(.logo-box__container) {
  grid-column: 8 / span 5;
  grid-row: 1;
}

.customer-stories__container .blog-post__meta {
  display: none;
}

.customer-stories__container .logo-box__logo {
  align-self: center;
}

.customer-stories__container .logo-box__text {
  text-align: unset;
}

/* Events & Webinar Blog Posts */
.events-post__container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 7.3%;
  justify-items: center;
  margin: 2rem auto;
  width: 101%;
}

.events-post__container > article {
  border-bottom: none;
  grid-column: 1 / span 7;
  grid-row: 1;
  margin: 0;
  padding: 0 0 3rem;
}

html:not(.hs-inline-edit) .events-post__container .blog-post__meta {
  display: none;
}

.events-post__container > div:has(.upcoming) {
  align-content: center;
  grid-column: 8 / span 5;
  grid-row: 1;
}

/* Imported listing page styles */

.hero-listing-is-topic-author header {
	margin: 0 auto;
	max-width: 600px;
}

.hero-listing-is-topic-author .title {
	font-size: 32px;
}

.hero-listing-is-default .hero-header {
	margin: 0 auto;
	max-width: 600px;
}

.hero-listing-is-default .hero-title {
	font-size: 32px;
	margin: 0 0 12px;
}

.hero-listing-is-default .intro-copy {
  font-size: 20px;	
}

.article-card-grid {
	display: grid;
	grid-gap: 24px;
	gap: 24px;
}

@media only screen and (min-width: 760px) {
  .article-card-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px 24px;
    gap: 40px 24px;
  }
}

@media only screen and (min-width: 1480px) {
  .article-card-grid {
    transform: translateX(-20px);
    width: 1480;
  }
}

/* Blog listing overrides for main blog page */

.body-container--main-blog .blog-tag-heading {
  color: rgba(0, 0, 0, 0.68);
  font-size: 24px;
  padding: 0 0 2rem;
}

.body-container--main-blog .blog-index {
  padding: 0 0 2rem;
}

@media only screen and (max-width: 760px) {
  .body-container--main-blog .blog-tag-heading {
    padding-left: 10px;
    padding-right: 10px;
  }

  .body-container--main-blog .blog-index {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Imported listing page cards */

.article-card {
  background-color: #FFF;
  border-radius: 4px;
  padding: 1rem;
  transition: all 0.2s ease;
}

.article-card:hover {
  background-color: #F0F5FA;
  cursor: pointer;
}

.article-card:hover h3,
.article-card:hover h4,
.article-card:hover span {
  cursor: pointer;
  text-transform: underline;
}

.article-card .article-header {
	height: 100%;
}

.article-card .article-cover-link {
	display: block;
}

.article-card .article-cover {
	background-color: #252b33;    
	overflow: hidden;
	position: relative;
}

.article-card .article-cover .featured-image {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}

.article-card .article-content {
	padding: 16px 0 0;
}

.article-card .article-title {
  font-size: 18px;
	margin: 0 0 16px;
}

.the-latest .article-card .article-cover {
	padding: 0 0 54%;
}

@media screen and (max-width: 767px) {
  .article-card {
    background-color: #F0F5FA;
  }

  .blog-related-posts__list {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .blog-related-posts__post {
    align-items: center;
    flex: 0 0 100%;
    flex-direction: column;
    margin: 0 auto;
    max-width: 380px;
    min-width: calc(100vw - 2rem);
    scroll-snap-align: center;
  }

  .blog-related-posts__image {
    object-fit: initial;
    width: 100%;
  }

  .blog-related-posts.events .blog-related-posts__image {
    object-fit: initial;
  }

  .blog-related-posts__content {
    border-bottom: 1px solid #DFE4E9;
    border-left: 1px solid #DFE4E9;
    border-right: 1px solid  #DFE4E9;
    border-top: none;
    width: 100%;
  }

  .blog-related-posts__title {
    margin: 0;
  }

  .blog-index__event-details {
    flex-wrap: wrap;
    gap: 10px;
  }

  .blog-index__event-details--img {
    scale: 0.8;
  }

  .blog-index__event-details > span {
    gap: 0;
  }

  .blog-index__event--date {
    gap: 4px;
  }

  .customer-stories__container:has(.logo-box__container) {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .customer-stories__container {
    padding: 0;
    width: 100%;
  }

  .customer-stories__container > span[data-hs-cos-type='rich_text'] {
    padding: 0.5rem 1rem;
  }

  .blog-post__cta {
    flex-direction: column;
  }

  .blog-post__cta--single {
    width: 100%;
  }

  .events-post__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}