/* Blog Post Template Container - Child Module Overrides */

.body-container--blog-post .newsletter-signup__section {
  margin: 0 auto;
}

/* Blog post */

.blog-post {
  margin: 0 auto;
  max-width: 980px;
}

.blog-post__meta {
  margin-bottom: 1.4rem;
}

.blog-post__meta a {
  text-decoration: underline;
}

.blog-post__timestamp {
  display: block;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 0.35rem;
  width: 15px;
}

.blog-post__tag-link {
  font-size: 0.875rem;
}

/* Blog related posts */

.blog-related-posts {
  background-color: #F8FAFC;
}

.blog-related-posts h2 {
  text-align: center;
}

.blog-related-posts__list {
  display: flex;
  flex-wrap: wrap;
}

.blog-related-posts__post {
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 3);
  }
}

.blog-related-posts__image {
  height: auto;
  max-width: 100%;
}

.blog-related-posts__title {
  margin: 0.7rem 0;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}

.teal {
  color: #00B9BC;
}

/* Table of contents */

.toc__section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0;
  width: 100%;
}

.toc__section-header h2 {
  margin: 0;
}

/* Page CTA sections */

.blog-post__cta {
  display: flex;
  margin: 3rem auto;
  width: clamp(360px, 100vw, 1440px);
}

.blog-post__cta--single {
  width: 50%;
}

/* Customer Stories Blog Posts */

.customer-stories__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 2rem auto;
  width: 100%;
}

.customer-stories__container > article {
  border-bottom: 2px solid #DFE4E9;
  grid-column: 1 / span 7;
  grid-row: 1;
  margin: 0;
  padding: 0 0 3rem;
}

.customer-stories__container > div:has(.logo-box__container) {
  grid-column: 8 / span 5;
  grid-row: 1;
}

.customer-stories__container .blog-post__meta {
  display: none;
}