/* Error pages */

.error-page {
  margin: 4rem auto;
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  color: #EFF3F7;
  content: attr(data-error);
  font-size: 40vw;
  font-weight: 600;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.error-page h1 {
  margin: 0;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 32rem;
  }
}

/* System pages */

.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 1.4rem;
}

.systems-page--search-results {
  max-width: 100%;
}

.systems-page .header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
}

.systems-page .success {
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  display: inline-block;
  margin: 1.4rem 0;
  padding: 0.1rem 0.7rem;
  width: 100%;
}

.systems-page form input {
  max-width: 100%;
}

.systems-page form input[type='submit'] {
  margin: 0.7rem 0;
  display: block;
}

/* Search pages */
.systems-page--search-results h1 {
  margin-bottom: 3rem;
}

.hs-search-results__title {
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
  text-decoration: none;
  transition: color 0.2s ease-in;
  width: 20%;
}

.hs-search-results__title:hover {
  color: #00A5A8;
  text-decoration: none;
}

.hs-search-results__description {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  width: 80%;
}

/* Custom Search Results Page */
.custom-search-results ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.custom-search-results ul > li {
  border-left: 0.75rem solid #DFE4E9;
  display: flex;
  gap: 2.5rem;
  height: 9rem;
  padding-left: 2rem;
  width: 100%;
}

.hs-search-results__pagination {
  display: flex;
  gap: 50%;
  justify-content: space-evenly;
}

.hs-search-results__next-page,
.hs-search-results__prev-page {
  filter: brightness(1);
  font-size: 1rem;
  transition: filter 0.2s ease;
}

.hs-search-results__next-page:hover,
.hs-search-results__prev-page:hover {
  filter: brightness(1.5);
}

.hs-search-results__next-page::after {
  background: url('https://20191855.fs1.hubspotusercontent-na1.net/hubfs/20191855/icons/arrow_right_teal.png') no-repeat;
  content: '';
  display: inline-block;
  height: 16px;
  transform: translate(30%, 20%);
  width: 18px;
}

.hs-search-results__prev-page::before {
  background: url('https://20191855.fs1.hubspotusercontent-na1.net/hubfs/20191855/icons/arrow_right_teal.png') no-repeat;
  content: '';
  display: inline-block;
  height: 16px;
  transform: translate(-30%, 20%) rotate(180deg);
  width: 18px;
}

@media screen and (max-width: 767px) {
  .systems-page--search-results {
    margin-bottom: 2rem;
    padding: 0;
  }

  .systems-page--search-results span[data-hs-cos-type='rich_text'] {
    padding: 0;
  }

  .custom-search-results ul {
    margin-bottom: 2rem;
  }

  .custom-search-results ul > li {
    border-left: none;
    border-top: 0.5rem solid #DFE4E9;
    flex-direction: column;
    gap: 0.5rem;
    height: unset;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 1rem;
  }

  .hs-search-results__title {
    width: 100%;
  }

  .hs-search-results__description {
    height: unset;
    width: 100%;
  }

  .hs-search-results__pagination {
    justify-content: center;
  }
}

/* Password prompt */

.password-prompt input[type=password] {
  height: auto !important;
  margin-bottom: 1.4rem;
}

.systems-page #hs-login-widget-remember,
.systems-page #hs-login-widget-remember ~ label {
  display: inline-block;
  margin-bottom: 0.175rem;
}

.systems-page #hs_login_reset {
  display: block;
  margin-bottom: 0.7rem;
}

/* Backup unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type=email] {
  font-size: 0.875rem !important;
  margin-bottom: 1.4rem;
  padding: 0.7rem !important;
}

/* Subscription preferences */

#email-prefs-form .item.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#email-prefs-form .item.disabled input:disabled {
  cursor: not-allowed;
}

/* Membership pages */

#hs-membership-form a[class*='show-password'] {
  font-size: 0.75rem;
}

/* Input error messages */

.form-input-validation-message ul.hs-error-msgs {
  padding-left: 0;
  margin: 0;
}

.form-input-validation-message ul.hs-error-msgs li {
  margin: 0;
}