{% set marker = module.marker_icon %}
{% set calendar = module.calendar_icon %}

{% require_css %}
  <style>
    {% scope_css %}

    {# Set icons #}
    {% set markerPath = "../../images/module-icons/map-marker-teal.svg" %}
    {% set calendarPath = "../../images/module-icons/scheduling-icon-teal.png" %}

    .courses__card--info > .location:before {
      background: url("{{ get_asset_url(markerPath) }}") no-repeat;
      content: '';
      display: inline-block;
      height: {{ marker.height ~ 'px' }} ;
      width: {{ marker.width ~ 'px' }};
    }

    .courses__card--info > .date:before {
      background: url("{{ get_asset_url(calendarPath) }}") no-repeat;
      content: '';
      display: inline-block;
      height: {{ calendar.height ~ 'px' }};
      width: {{ calendar.width ~ 'px' }};
    }

    {% end_scope_css %}
  </style>
{% end_require_css %}


<section class="courses">
  <div class="courses__container">
    <h2 class="courses__header">{{ module.header }}</h2>
    {# Get course by module Page field #}
    {% for c in module.course %}

      {# Get Course Page Module Fields #}
      {% set course_content = content_by_id(c.page) %}
      {% set course = course_content.allModules.layoutSectionModules[1].params %}
      {% set courseTitle = course_content.name|split('-')|first %}

      {# Optional Featured Image Override #}
      {% if c.override_image == true %}
        {% set imageSrc = c.image.src %}
      {% else %}
        {% set imageSrc = course.featured_image %}
      {% endif %}

      {# Sanitize Course Start Date #}
      {% if course.course_date >= unixtimestamp(local_dt) %}
        {% if content.language.language == 'en' %}
          {% set langParam = "en-GB" %}
        {% else %}
            {% set langParam = content.language.language %}
        {% endif %}
        {% set date = course.course_date|format_date('medium', 'America/New_York', langParam) %}
      {% endif %} 

      <card class="courses__card"> 
        <img 
          class="courses__card--image" 
          src="{{ imageSrc }}"
          alt="{{ c.image.alt ? image.alt : 'course-featured-image-alt' }}"
        />
        <div class="courses__card--details">
          <span class="courses__card--eyebrow">{{ course.category }}</span>
          <h4 class="courses__card--title">{{ courseTitle }}</h4>
          <p class="courses__card--desc">{{ c.summary }}</p>
          <div class="courses__card--info">
            <span class="location">{{ course.location }}</span>
            <span class="date">{{ date }}  ~  {{ course.duration }}</span>
          </div>
          <div class="courses__card--pricing">
            <span class="price">{{ course.price }}</span>
            <a class="read-more" href="{{ course.absolute_url }}">{{ module.link_text }}</a>
          </div>
          </div>
        </div>
      </card>

    {% endfor %}
  </div>
</section>
