.courses {
  width: 100%;
}

.courses h2, h3, h4, p {
  margin-bottom: 0;
}

.courses__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.courses__card {
  align-items: flex;
  display: flex;
  justify-content: flex;
  width: 100%;
}

.courses__card--image {
  width: 23%;
}

.courses__card--details { 
  border: 1px solid #DFE4E9;
  border-left-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-evenly;
  padding: 2.5rem;
  width: 77%;
}

.courses__card--eyebrow {
  color: #525E6A;
  font-size: 14px;
  text-transform: uppercase;
}

.courses__card--desc {
  font-size: 18px;
  line-height: 28px;
}

.courses__card--info {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.courses__card--info span {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 4px;
  line-height: 26px;
  padding: 0.5rem 0;
  vertical-align: middle;
}

.courses__card--pricing {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.courses__card--pricing .price {
  font-size: 1.5rem;
  font-weight: 700;
}