.courses-card {
  display: flex;
}

.card__image {
  max-width: 15%;
}

.card__text {
  border: 1.4px solid #DFE4E9;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 95%;
  padding: 0 3%;
}

.card__category {
  color: #525E6A;
  font-size: 12px;
  text-transform: uppercase;
}

.card__title, 
.card__price {
  color: #0F1E2D;
  font-size: 22px;
  font-weight: 700;
}

.card__desc {
  color: #0F1E2D;
  font-size: 18px;
  max-width: 75%;
}

.card__info {
  align-items: center;
  display: flex;
  width: 25%;
}

.card__info--group {
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.card__info--text {
  color: #0F1E2D;
  font-weight: 700;
  padding: 3% 5% 2%;
}

.card__info--image {
  height: 15%;
  margin-right: 2%;
  width: 15%;
}

.card__final-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.card__link {
  color: #396D78;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.card__link:hover {
  border-color: #00B9BC;
}