{% require_css %}
  <style>
    {% scope_css %}

      {# Header Styles #}

      .trial-demo__text-section--header > strong {
        color: #00b9bc;
      }

      {# Background colors #}

      .trial-demo__text-section {
        background-color: {{ module.styles.background_color.color }};
      }

      .trial-demo__form-section {
        background-color: {{ module.styles.form_color.color }};
      }

      {# Logo Section Border Color #}

      .trial-demo__logos-section {
        border-top: 2px solid {{ module.styles.border_color.color }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="trial-demo">
  <div class="trial-demo__text-section">
    <div class="trial-demo__text-section--header">{{ module.header }}</div>
    <p class="trial-demo__text-section--subheader">{{ module.subheader }}</p>
    {{ module.first_text_section }}
    {{ module.second_text_section }}
  </div>

  <div class="trial-demo__form-section">
    {% form
      form_key="{{ module.choice }}--form",
      form_to_use="{{ module.form.form_id }}",
      title="{{ module.form.title or module.form_header }}",
      extra_classes="trial-form" %}
    {% set link = module.form_section_link.link_info.link %}
    {% if link.url.href %}
      <div class="trial-demo__form-section--link">
        <span>{{ module.form_section_link.text }}</span>
        <a href="{{ link.url.href }}">{{ module.form_section_link.link_info.link_text }}</a>
      </div>
    {% endif %}
  </div>
</section>
