.trial-demo {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: clamp(340px, 100vw, 1920px);
}

.trial-demo__text-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 5.5rem 3rem 5rem 7rem;
  width: 52%;
}

.trial-demo__text-section--subheader {
  font-size: 20px;
  line-height: 30px;
}

.trial-demo__text-section--feature {
  padding: 8px 0;
}

.trial-demo__text-section--feature > img {
  margin-right: 4px;
  transform: translateY(15%);
}

.trial-demo__text-section--quote {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-top: 3rem;
}

.trial-demo__logos-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem 0;
}

.trial-demo__form-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 5.5rem 3rem;
  width: 42%;
}

.trial-demo__form-section > div:first-child {
  width: 82.5%;
}

.trial-demo__form-section form {
  padding: 1.5rem 0;
}

.trial-demo__form-section form > fieldset.form-columns-2 .hs-form-field {
  width: 48%;
}

.trial-demo__form-section form > fieldset.form-columns-2 .input {
  margin-right: 16px;
}

.trial-demo__form-section h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 34px;
}

.trial-demo__form-section--link {
  border-top: 2px solid rgba(255 255 255 / 0.15);
  margin-top: 8px;
  padding: 2rem 0 0;
}

.trial-demo__form-section--link > span {
  color: #FFFFFF;
}

.trial-demo__form-section--link > a {
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.trial-demo__form-section--link > a:hover {
  border-color: #00B9BC;
}