.two-col-feature {
  align-items: center;
  display: flex;
  justify-content: center;
}

.two-col-feature .img-left {
  flex-direction: row-reverse;
}

.two-col-feature .dark {
  background-color: rgba(55, 55, 55, 0.6);
}

.text {
  font-size: 22px;
  padding: 12px;
}

.text .dark {
  color: #EEE;
}

.col.text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 35%;
}

.links {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.links__trial {
  border-radius: 40px;
  font-size: 16px;
  max-width: 50%;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.links__book {
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
  text-decoration: none;
}

.links__book .dark {
  color: #F8F8F8;
}

.col .image {
  width: 65%;
}

.round {
  border-radius: 100%;
}