.two-col-feature {
  align-items: center;
  display: flex;
  justify-content: center;
}

.two-col-feature.img-left {
  flex-direction: row-reverse;
}

.two-col-feature.dark {
  background-color: rgba(55, 55, 55, 0.8);
}

.text {
  font-size: 22px;
  padding: 12px;
}

.text.dark {
  color: #EEE;
}

.col.text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 35%;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links__trial {
  border-radius: 40px;
  background-color: #58B5BC;
  color: #28282A;
  font-size: 14px;
  max-width: 50%;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.links__book {
  border-bottom: 2px solid transparent;
  color: #28282A;
  transition: all 0.5s ease;
  text-decoration: none;
}

.links__book:hover {
  border-color: #58B5BC;
}

.col.image {
  width: 65%;
}

.round {
  border-radius: 100%;
}