.search-field {
  border-radius: 8px;
  margin: 0 auto;
  padding: 8px;
  position: relative;
  width: clamp(340px, 100%, 1000px);
}

.search-field form {
  background-color: unset;
  padding: 0;
}

.search-field form input[type='text'] {
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.search-field__input {
  border: 1.4px solid #D1D8DE !important;
  border-radius: 100px !important;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.search-field__input--icon {
  padding: 16px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .search-field__input--icon {
    z-index: 1;
  }
}

.search-field__suggestions {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-field--open .search-field__input--icon {
  background-color: #0F1E2D;
  border-bottom: 1px solid #B8C1C9;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 16px 8px rgba(15, 30, 45, 0.2);
}

.search-field--open .search-field {
  background-color: #0F1E2D;
  border-bottom: 1px solid #A6A6A6;
}

.search-field--open .search-field__suggestions {
  align-items: center;
  background-color: #0F1E2D;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 16px 8px rgba(15, 30, 45, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -1rem 0;
  padding: 0.5rem 1rem 0.25rem;
}

.search-field__suggestions li {
  border-top: 1px solid #ABB0B5;
  display: block;
  margin: 0;
  padding: 3.5% 1%;
  width: 100%;
}

.search-field__suggestions li > a {
  color: #00B9BC;
  font-weight: 600;
}

.search-field__suggestions li:not(#results-for):hover {
  cursor: pointer;
  filter: brightness(1.11);
}

/* .search-field__suggestions li:last-child {
  border-bottom: none;
} */

.search-field__suggestions #results-for {
  border-top: none;
  color: #EFF3F7;
  font-weight: 700;
}

.search-field__suggestions a,
.search-field__suggestions #results-for {
  display: block;
}

.search-field__suggestions a:hover,
.search-field__suggestions a:focus {
  background-color: rgba(#0F1E2D, 0.1);
  outline: none;
}

.search-field__show-all {
  align-items: center;
  background-color: #0F1E2D;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #B8C1C9;
  box-shadow: 0 0 16px 8px rgba(15, 30, 45, 0.2);
  display: flex;
  justify-content: center;
  padding: 22px 0;
  width: 100%;
}

.search-field__show-all--btn {
  align-items: center;
  background-color: #0F1E2D;
  border: 2px solid #00B9BC;
  border-radius: 100px;
  color: #00B9BC;
  display: flex;
  font-size: 18px;
  font-weight: 800px;
  justify-content: center;
  padding: 8px 12px;
  transition: all 0.3s ease;
  width: 30%;
}

.search-field__show-all--btn:hover,
.search-field__show-all--btn:focus,
.search-field__show-all--btn:active {
  border: 2px solid #00B9BC;
  filter: brightness(102%);
}

.search-field__show-all--icon {
  position: relative;
  transform: translate(30%, 5%);
  width: 28px;
}