<!-- module html  -->
{% require_css %}
  <style>
    {% scope_css %}

      {% set inputIcon = "../../images/module-icons/search-icon-black.png" %}
      {% set linkIcon = "../../images/module-icons/arrow-right-teal.png" %}

      {# Seach bar #}
      .search-field__input--icon::before {
        content: "";
        background: url("{{ get_asset_url(inputIcon) }}") no-repeat;
        height: 40px;
        left: 92%;
        padding: 1%;
        position: absolute;
        top: 29%;
        transform: scale(1.05);
        width: 40px;
        z-index: 2;
      }

      @media screen and (max-width: 767px) {
        .search-field__input--icon::before {
          left: 87.5%;
          top: 22%;
          transform: scale(0.9);
        }
      }

      {# Search Result List Item #}
      .search-field__suggestions li > a:after {
        background: url("{{ get_asset_url(linkIcon) }}") no-repeat;
        content: '';
        display: inline-block;
        filter: brightness(1.6);
        height: 20px;
        transform: translate(25%, 35%);
        width: 26px;
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="search-field">
  <div class="search-field__bar">
    <form data-do-not-collect="true" action="/{{ site_settings.content_search_results_page_path }}">
      {% if module.field_label %}
        <label for="term">{{ module.field_label }}</label>
      {% endif %}
      <label for="input" class="search-field__input--icon">
        <input
          type="text"
          class="search-field__input"
          name="term"
          autocomplete="on"
          aria-label="{{ module.field_label or "Search" }}"
          placeholder="{{ module.placeholder }}"
        />
      </label>

      {% if module.content_types.website_pages %}
        <input type="hidden" name="type" value="SITE_PAGE" />
      {% endif %}
      {% if module.content_types.landing_pages %}
        <input type="hidden" name="type" value="LANDING_PAGE" />
      {% endif %}
      {% if module.content_types.blog_posts %}
        <input type="hidden" name="type" value="BLOG_POST" />
        <input type="hidden" name="type" value="LISTING_PAGE" />
      {% endif %}
      {% if module.content_types.knowledge_articles %}
        <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE" />
      {% endif %}
    </form>
  </div>
  <ul class="search-field__suggestions">
    <div class="search-field__show-all">
      <button id="show-all" class="search-field__show-all--btn">
        Show all results
        <img class="search-field__show-all--icon" src="{{ get_asset_url("../../images/module-icons/search-icon-teal.png") }}" />
      </button>
    </div>
  </ul>
</div>
