.search-field {
  border-radius: 8px;
  padding: 8px;
  position: relative;
}

.search-field__input {
  border: 1px solid #F1F2F7 !important;
  border-radius: 100px !important;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.search-field__input--icon {
  background-color: #141D2C;
  border-bottom: 1px solid #F1F2F7;
  border-radius: 8px 8px 0 0;
  filter: drop-shadow(0 0 0.8rem #939393);
  padding: 16px;
  position: relative;
}

.search-field__bar button svg {
  height: 10px;
}

.search-field__suggestions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-field--open .search-field {
  background-color: #141D2C;
  border-bottom: 1px solid #F1F2F7;
}

.search-field--open .search-field__suggestions {
  align-items: center;
  background-color: #141D2C;
  border-radius: 8px;
  display: flex;
  filter: drop-shadow(0 0 0.8rem #939393);
  flex-direction: column;
  justify-content: center;
}

.search-field__suggestions li {
  border-bottom: 1px solid #F1F2F7;
  display: block;
  margin: 0;
  padding: 2% 4%;
}

.search-field__suggestions #results-for {
  font-weight: bold;
}

.search-field__suggestions a,
.search-field__suggestions #results-for {
  display: block;
}

.search-field__suggestions a:hover,
.search-field__suggestions a:focus {
  background-color: rgba(#141D2C, 0.1);
  outline: none;
}

.search-field__show-all {
  align-items: center;
  background-color: #141D2C;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #F1F2F7;
  display: flex;
  filter: drop-shadow(0 0.2rem 0.8rem #939393);
  justify-content: center;
  padding: 22px 0;
  width: 100%;
}

.search-field__show-all--btn {
  align-items: center;
  background-color: #141D2C;
  border: 2px solid #58B5BC;
  border-radius: 100px;
  color: #58B5BC;
  display: flex;
  font-size: 18px;
  font-weight: 800px;
  justify-content: center;
  padding: 8px 12px;
  transition: all 0.3s ease;
  width: 30%;
}

.search-field__show-all--btn:hover,
.search-field__show-all--btn:focus,
.search-field__show-all--btn:active {
  border: 2px solid #58B5BC;
  filter: brightness(102%);
}

.search-field__show-all--icon {
  position: relative;
  transform: translate(30%, 5%);
  width: 28px;
}