.content-wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (380px) {
  .content-wrapper {
    padding: 0;
  }
}

@media screen and (width > 1440px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section > .row-fluid {
  margin: 0 auto;
}

.dnd-section .dnd-column {
  padding: 0;
}

.dnd-section .dnd-column:has(.product-cards) {
  padding: 0;
}

@media (max-width: 767px) {
  .body-wrapper {
    overflow-x: clip;
    margin: 0 auto;
  }

  .dnd-section .dnd-column {
    padding: 0;
  }
}