.toc__contents {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 20px 0;
  width: clamp(360px, 100vw, 1240px);
}

.toc__contents--card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 170px;
  padding: 1rem;
  width: clamp(340px, 32%, 390px);
}

.toc__contents--header {
  align-items: center;
  display: flex;
}

.toc__contents--description {
  margin: 0;
  max-height: 46%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
  .toc__contents {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
  }

  .toc__contents--card {
    height: 144px;
  }

  .toc__contents--description {
    max-height: 50%;
  }
}