{% if module.use_vertical == true %}
  {% set imgWidth = 285 %}
  {% set imgHeight = 160 %}
{% endif %}

<section class="page-index">
  <h2 class="blog-tag-heading">
    {{ module.header }}
  </h2>

  <div class="page-index__pages {{ "card-vertical" if module.use_vertical == true }}">
    {% for p in module.pages %}
    {% set page_content = content_by_id(p.page) %}
    <article class="page-index__post {{ "card--vertical" if module.use_vertical == true else "card--" ~ p.card_type }}" id="post-{{ loop.index }}">
      <a class="page-index__post-link" href="{{ page_content.absolute_url }}"></a>
      {% if p.override_feature_image == false and page_content.featured_image != "" %}
        {% set imgSrc = page_content.featured_image %}
        {% set imgAlt = page_content.featured_image_alt_text %}
      {% endif %}
      {% if p.override_feature_image == true and p.new_image.src %}
        {% set imgSrc = p.new_image.src %}
        {% set imgAlt = p.new_image.alt ? p.new_image.alt : "page-featured-image-alt" %}
      {% endif %}
      {% unless module.use_vertical == true %}
        {% set imgWidth = p.card_type == "small" ? 180 : 285 %}
        {% set imgHeight = p.card_type == "small" ? 226 : 304 %}
      {% endunless %}
      <img
        class="page-index__post-image page-index__post-image--{{ "vertical" if module.use_vertical else p.card_type }}"
        src="{{ imgSrc }}"
        alt="{{ imgAlt }}"
        width="{{ imgWidth }}"
        height="{{ imgHeight }}"
      />

      <div class="page-index__post-content page-index__post-content--{{ "vertical" if module.use_vertical else p.card_type }}">
        {% if p.tag %}
          <div class="page-index__post-tags">
            <span class="page-index__post-tag">{{ p.tag }}</span>
          </div>
        {% endif %}
        <h2 class="page-index__post-title--{{ p.card_type }}">
          {{ page_content.name }}
        </h2>
        {% if module.use_vertical == false and (p.description|striptags != "" or p.description|striptags != " ") %}
          <div class="page-index__post-summary">
            {{ p.description }}
          </div>
        {% endif %}

        <div class="page-index__post-button-wrapper">
          <a class="page-index__post-button" href="{{ page_content.absolute_url }}"
            >{{ p.link_text }}</a
          >
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
